<template>
  <div>
    <div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="subtitle">Export Files Function</p>
            <hr>
            <div class="block">

              <!-- <div class="control is-horizontal custom-input" v-if="roleFiles('SMS')">
                <p class="control has-icon has-icon-right" style="margin-left: 20px;">
                  <a :class="[dateSms !== null ? '' : 'is-disabled', 'button is-primary']" @click="smsRecord()">SMS Record</a>
                </p>
                <div>
                  <datepicker placeholder="Select a range" :config="{ mode: 'range' }" v-model="dateSms"></datepicker>
                </div>
              </div> -->
              
              <div class="control is-horizontal custom-input" v-if="roleFiles('COLL')">
                <p class="control" style="margin-left: 20px;">
                  <a :class="[dateCollNote !== null ? '' : 'is-disabled', 'button is-primary']" @click="collNote()">Collection Note</a>
                </p>
                <div>
                  <datepicker :inputClass="{ test: true }" :config="{ wrap: true }" readonly v-model="dateCollNote">
                    <a class="button" data-toggle><i class="fa fa-calendar"></i></a>
                    <!-- <a class="button" data-clear><i class="fa fa-close"></i></a> -->
                  </datepicker>
                </div>
                
              </div>

              <div class="control is-horizontal custom-input" v-if="roleFiles('DRS')">
                <div>
                </div>
                <p class="control has-icon has-icon-right" style="margin: 0 20px 10px 20px;">
                  <a class="button is-primary" @click="DRSDaily()">DRS Daily</a>
                </p>
              </div>

              <div class="control is-horizontal custom-input" v-if="roleFiles('UND')">
                <p class="control has-icon has-icon-right" style="margin-left: 20px;">
                  <a :class="[dateUnd !== null ? '' : 'is-disabled', 'button is-primary']" @click="UNDRecord()">UND Record</a>
                </p>
                <div>
                  <datepicker :inputClass="{ test: true }" :config="{ wrap: true }" readonly v-model="dateUnd">
                    <a class="button" data-toggle><i class="fa fa-calendar"></i></a>
                    <!-- <a class="button" data-clear><i class="fa fa-close"></i></a> -->
                  </datepicker>
                </div>
              </div>

              <!-- <div class="control is-horizontal custom-input" v-if="roleFiles('PEN')">
                <p class="control has-icon has-icon-right" style="margin-left: 20px;">
                  <a :class="[datePen !== null ? '' : 'is-disabled', 'button is-primary']" @click="pendingRecord()">Pending Record</a>
                </p>
                <div>
                  <datepicker placeholder="Select a range" :config="{ mode: 'range' }" v-model="datePen"></datepicker>
                </div>
              </div> -->

              <!-- <div class="control is-horizontal custom-input" v-if="roleFiles('CIC')">
                <p class="control has-icon has-icon-right" style="margin: 0 20px 10px 20px;">
                  <a class="button is-primary" @click="cicReq()">CIC REQ</a>
                </p>
              </div> -->

              <div class="control is-horizontal custom-input" v-if="roleFiles('CIC')">
                <!-- <button class="button is-info" @click="smsRecord()"></button> -->
                <!-- <p style="display: none;">
                  <input type="file" id="file" ref="myFiles" @change="previewFiles">
                </p> -->
                <p class="control has-icon has-icon-right" style="margin-left: 20px;">
                  <a class="button is-primary" @click="cicREQ">CIC Request</a>
                </p>
                <div>
                </div>
              </div>

              <div class="control is-horizontal custom-input" v-if="roleFiles('CIC')">
                <!-- <button class="button is-info" @click="smsRecord()"></button> -->
                <p style="display: none;">
                  <input type="file" id="file" ref="myFiles" @change="previewFiles">
                </p>
                <p class="control has-icon has-icon-right" style="margin-left: 20px;">
                  <a class="button is-primary" @click="cicRES">CIC Response</a>
                </p>
                <div>
                </div>
              </div>

              <div class="control is-horizontal custom-input" v-if="roleFiles('DUE')">
                <p class="control has-icon has-icon-right" style="margin-left: 20px;">
                  <a :class="[dateDue !== null ? '' : 'is-disabled', 'button is-primary']" @click="dueRecord()">DueDate Record</a>
                </p>
                <div>
                  <datepicker :inputClass="{ test: true }" :config="{ wrap: true }" readonly v-model="dateDue">
                    <a class="button" data-toggle><i class="fa fa-calendar"></i></a>
                    <!-- <a class="button" data-clear><i class="fa fa-close"></i></a> -->
                  </datepicker>
                </div>
              </div>

              <!-- <div class="control is-horizontal custom-input" v-if="roleFiles('DPD')">
                <p class="control has-icon has-icon-right" style="margin: 0 20px 10px 20px;">
                  <a :class="[DPDscore !== '' && DPDscore !== 'e' ? '' : 'is-disabled', 'button is-primary']" @click="dpdDaily()">DPD Daily</a>
                </p>
                <p class="control has-addons">
                  <span class="select">
                    <select v-model="DPDvalue">
                      <option>></option>
                      <option><</option>
                      <option>=</option>
                    </select>
                  </span>
                  <input class="input is-expanded" type="number" placeholder="DPD" v-model="DPDscore">
                </p>
              </div> -->

              <div class="control is-horizontal custom-input" v-if="roleFiles('DPD')">
                <p class="control has-icon has-icon-right" style="margin: 0 20px 10px 20px;">
                  <a class="button is-primary" @click="dpdDaily()">DPD Daily</a>
                </p>
              </div>

              <div class="control is-horizontal custom-input" v-if="roleFiles('SMS')">
                <p class="control has-icon has-icon-right" style="margin-left: 20px;">
                  <a :class="[dateSms !== null ? '' : 'is-disabled', 'button is-primary']" @click="smsRecord()">SMS Record</a>
                </p>
                <div>
                  <datepicker placeholder="Select a range" :config="{ mode: 'range' }" v-model="dateSms"></datepicker>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="subtitle">Folder User</p>
            <hr>
            <div class="block">
              <div v-for="(item, index) in files" v-if="item !== '.DS_Store'" class="has-text-centered">
                <div v-if="item.indexOf('MAFC_CICSCORE') === -1" style="cursor: pointer; width: 170px; height: 100px; margin: 15px 7px; float: left;">
                  <div @click="download(item)">
                    <i class="fa fa-3x fa-file-excel-o" aria-hidden="true"></i>
                    <span style="overflow: hidden; display: block; text-overflow: ellipsis;">{{ item }}</span>
                  </div>
                </div>
                <div v-else style="cursor: pointer; width: 360px; height: 100px; margin: 15px 7px; float: left;">
                  <div @click="download(item)">
                    <i class="fa fa-3x fa-file-excel-o" aria-hidden="true"></i>
                    <span style="overflow: hidden; display: block; text-overflow: ellipsis;">{{ item }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Blob from 'blob'
import Datepicker from 'vue-bulma-datepicker'
import vuemoment from 'vue-moment'
import Vue from 'vue'
Vue.use(vuemoment)
import Notification from 'vue-bulma-notification'

const NotificationComponent = Vue.extend(Notification)

const openNotification = (propsData = {
  title: '',
  message: '',
  type: '',
  direction: '',
  duration: 4500,
  container: '.notifications'
}) => {
  return new NotificationComponent({
    el: document.createElement('div'),
    propsData
  })
}

export default {
  components: {
    Datepicker,
    Notification
  },
  data () {
    return {
      fileUpload: null,
      dateCollNote: null,
      dateUnd: null,
      dateDue: null,
      dateSms: null,
      datePen: null,
      status: {
        success: null,
        message: null
      },
      files: []
    }
  },
  created () {
    this.getFiles()
    // this.roleFiles()
  },
  computed: {
  },

  methods: {
    openNotificationWithType (type, success, message) {
      openNotification({
        title: success,
        message: message,
        type: type
      })
    },
    cicREQ () {
      axios.get('sql/cicREQ')
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    },
    cicRES () {
      document.getElementById('file').click()
    },
    previewFiles () {
      let FormData = require('form-data')
      let filename = this.$refs.myFiles.files[0].name
      let checkfile = 'MAFC_CICSCORE_RES_PL'
      if (filename.indexOf(checkfile) >= 0) {
        this.fileUpload = filename
        var formData = new FormData()
        formData.append('cicres', this.$refs.myFiles.files[0])
        axios.post('upFiles', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          if (response.data.status) {
            axios.post('sql/cicRES', {filename: filename})
            .then(response => {
              if (response.data.status) {
                this.openNotificationWithType('success', response.data.message, response.data.data)
              } else {
                this.openNotificationWithType('danger', 'fail', response.data.message)
              }
            })
            this.getFiles()
          }
        })
      } else {
      }
    },
    roleFiles (check) {
      let roles = this.$auth.user().roleFiles
      let hasRole = false
      if (this.$auth.user()._id === '5a7d48755b225753411f6db5') {
        hasRole = true
      }
      if (roles !== undefined) {
        roles.forEach((role) => {
          if (check === role) {
            hasRole = true
          }
        })
      }
      return hasRole
    },
    getFiles () {
      axios.get('getUserFiles')
      .then(response => {
        if (response.data.status) {
          this.files = response.data.data
        }
      })
      .catch(e => {
      })
    },
    download (file) {
      let data = {
        desc: file
      }
      axios.post('downFiles', data).then(response => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', file)
        document.body.appendChild(link)
        link.click()
      })
    },
    collNote () {
      let value = Vue.moment(this.dateCollNote).format('YYYYMMDD')
      let data = {
        date: value
      }
      axios.post('sql/epCollNote', data)
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
        this.openNotificationWithType('danger', 'fail')
      })
    },
    DRSDaily () {
      axios.get('sql/epDRSDaily')
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    },
    UNDRecord () {
      let value = Vue.moment(this.dateUnd).format('YYYYMMDD')
      let data = {
        date: value
      }
      axios.post('sql/epUndRecord', data)
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    },
    cicReq () {
      axios.get('sql/cicReq')
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    },
    dueRecord () {
      let value = Vue.moment(this.dateDue).format('YYYYMMDD')
      let data = {
        date: value
      }
      axios.post('sql/collDuedate', data)
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    },
    dpdDaily () {
      // let data = {
      //   value: this.DPDvalue,
      //   score: this.DPDscore
      // }
      // console.log(data)
      axios.get('sql/dpdDaily')
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    },
    smsRecord () {
      let value = this.dateSms.split(' to ')
      let data = {
        dateFr: Vue.moment(value[0]).format('YYYYMMDD'),
        dateTo: Vue.moment(value[1]).format('YYYYMMDD')
      }
      axios.post('sql/smsDaily', data)
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    },
    pendingRecord () {
      let value = this.datePen.split(' to ')
      let data = {
        dateFr: Vue.moment(value[0]).format('YYYYMMDD'),
        dateTo: Vue.moment(value[1]).format('YYYYMMDD')
      }
      axios.post('sql/penRecord', data)
      .then(response => {
        this.getFiles()
        if (response.data.status) {
          this.openNotificationWithType('success', response.data.message, response.data.data)
        } else {
          this.openNotificationWithType('danger', 'fail', response.data.message)
        }
      })
      .catch(e => {
        this.getFiles()
      })
    }
  }
}
</script>

<style scoped>
input {
  width: 204px;
}
.control.is-horizontal.custom-input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
.file-chooser-hack {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
}
.file-chooser-hack > input.file-choose-button {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}
</style>
