<template>
  <p>ok</p>
</template>
<script>
import Vue from 'vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import BootstrapVue from 'bootstrap-vue'
Vue.use(BootstrapVue)
export default {
  data () {
    return {
      optionsChart: {
        segmentShowStroke: false,
        legend: {
          display: false
        }
      },
      backgroundColor: [
        '#97cd76',
        '#CF000F',
        '#336E7B',
        '#1E824C',
        '#2C3E50',
        '#000000',
        '#9A12B3'
      ],
      max: 100,
      dataChart: [{
        name: 'Lunch',
        val: 0,
        percent: 0
      }, {
        name: 'Break time',
        val: 0,
        percent: 0
      }, {
        name: 'Meeting',
        val: 0,
        percent: 0
      }, {
        name: 'Available',
        val: 0,
        percent: 0
      }, {
        name: 'On the phone',
        val: 0,
        percent: 0
      }, {
        name: 'Offline',
        val: 0,
        percent: 0
      }, {
        name: 'Away',
        val: 0,
        percent: 0
      }],
      labels: ['On the phone', 'Away', 'Lunch', 'Break time', 'Meeting', 'Available', 'Offline'],
      iconLabels: ['phone', 'pause', 'coffee', 'ban', 'comments', 'user', 'power-off'],
      columns: [
        {
          label: 'Group',
          field: 'group',
          thClass: 'text-center'
        },
        {
          label: 'Status',
          field: 'status',
          thClass: 'text-center',
          tdClass: 'text-center',
          width: '300px',
          filterOptions: {
            enabled: true
          }
        },
        {
          label: 'Name',
          field: 'name',
          thClass: 'text-center',
          filterOptions: {
            enabled: true
          }
        },
        {
          label: 'EXT',
          field: 'ext',
          thClass: 'text-center',
          tdClass: 'text-center',
          filterOptions: {
            enabled: true
          }
        },
        {
          label: 'Phone',
          field: 'phone',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Timing',
          field: 'timing',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ],
      valueRowsDynamic: [],
      groups: [],
      server: {}
    }
  },
  created () {
    this.server = this.getDataForTable()
  },
  computed: {
  },
  methods: {
    getDataForTable () {
      var timeCurrent = new Date().getTime()
      var data = {
        timeSystem: timeCurrent,
        exts: [
          {
            name: 'Dao Bao Ngoc',
            ext: '606',
            created: timeCurrent,
            status: 'Conected'
          },
          {
            name: 'Chu Van Quang',
            ext: '601',
            created: 1524727012533,
            status: 'Available'
          }
        ]
      }
      return data
    }
  }
}
</script>
<style lang="scss">
</style>
<style lang="scss" scoped>
  
</style>
