<template>
  <section class="hero is-bold app-navbar animated" :class="{ slideInDown: show, slideOutDown: !show }">
    <div class="hero-head">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item is-hidden-tablet" @click="toggleSidebar({opened: !sidebar.opened})">
            <i class="fa fa-bars" aria-hidden="true" v-show="!sidebar.hidden"></i>
          </a>
        </div>
        <div class="nav-center">
          <a class="nav-item hero-brand" href="/">
            <img src="~assets/logo.svg" :alt="pkginfo.description">
            <tooltip :label="'v' + pkginfo.version" placement="right" type="success" size="small" :no-animate="true" :always="true" :rounded="true">
              <div class="is-hidden-mobile">
                <span class="vue">Vue</span><strong class="admin">Admin</strong>
              </div>
            </tooltip>
          </a>
        </div>
        <div class="nav-right is-flex userFrame" style="overflow: inherit;">
          <div v-if="$auth.check()" class="icon-user"></div>
          <b-nav-item-dropdown right v-if="$auth.check()">
            <template slot="button-content">
              <em>{{ $auth.user().user }}</em>
            </template>
            <ul>
              <!-- <li> -->
                <collapse>
                  <collapse-item :title="getGroupView.groupViewer.name">
                    <div v-for="item in getGroupView.listGroup" @click="changeGroupView(item._id)">
                      <span>{{ item.name }}</span>
                    </div>
                  </collapse-item>
                </collapse>
              <!-- </li> -->
              <li @click="profile">
                <span class="icon is-small"><i class="fa fa-user"></i></span>
                <span>Profile</span>
              </li>
              <hr>
              <li @click="logout" class="text-danger">
                <span class="icon is-small"><i class="fa fa-sign-out"></i></span>
                <span>Logout</span>
              </li>
            </ul>
          </b-nav-item-dropdown>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
import Tooltip from 'vue-bulma-tooltip'
import { mapGetters, mapActions } from 'vuex'
import bNavItemDropdown from 'bootstrap-vue/es/components/nav/nav-item-dropdown'
import { Collapse, Item as CollapseItem } from 'vue-bulma-collapse'
export default {

  components: {
    Tooltip,
    bNavItemDropdown,
    Collapse,
    CollapseItem
  },

  props: {
    show: Boolean
  },

  created () {
    this.callApiGetGroupSelect({ edit: false, groupViewer: this.$auth.user().groupDefault })
  },

  computed: {
    ...mapGetters({
      pkginfo: 'pkg',
      sidebar: 'sidebar',
      getGroupView: 'getGroupView'
    })
  },

  methods: {
    ...mapActions([
      'toggleSidebar',
      'callApiChangeGroupDefault',
      'callApiGetGroupSelect'
    ]),
    profile () {
      this.$router.push('User')
    },
    changeGroupView (group) {
      this.callApiChangeGroupDefault({ edit: true, userId: this.$auth.user()._id, groupId: group })
    },
    logout () {
      this.$auth.logout({
        redirect: 'Login',
        makeRequest: false,
        // params: {},
        success: function () {
          this.$localStorage.remove('groupView')
          this.$localStorage.remove('userDetail')
          this.$router.go('Login')
          // this.$localStorage.clear()
        }
        // error: function () {},
        // etc...
      })
    }
  }
}
</script>
<style lang="scss">
a:hover {
  text-decoration: none;
}
.nav-link {
  padding: 0;
}
.icon-user {
  height: 35px;
  width: 35px;
  margin-right: -15px;
  margin-top: 7px;
  background-image: url(~assets/icon_user.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 36% 50%;
  border: 0.5px solid #7a7a7a;
  border-radius: 50%;
}
.nav-right.is-flex.userFrame {
  ul {
    margin: 0;
    li {
      cursor: pointer;
      padding: 0.7rem 1rem;
      span:last-child {
        margin-left: 1rem;
      }
    }
    li:hover {
      background-color: #f9f9f9;
      box-shadow: 0 1px 1px rgba(0,0,0,.125);
    }
    hr {
      margin: 0;
    }
  }
  .dropdown-menu {
    padding: 0;
  }
}
.app-navbar .nav-right {
  overflow: auto;
}
</style>
<style lang="scss">
@import '~bulma/sass/utilities/variables';

.app-navbar {
  position: fixed;
  min-width: 100%;
  z-index: 1024;
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);

  .container {
    margin: auto 10px;
  }

  .nav-right {
    align-items: stretch;
    align-items: stretch;
    flex: 1;
    justify-content: flex-end;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.hero-brand {
  .vue {
    margin-left: 10px;
    color: #36AC70;
  }
  .admin {
    color: #28374B;
  }
}
</style>
