<template>
  <div id="toolAD">
    <p class="control has-addons">
      <span class="select">
        <select v-model="searchVal">
          <option v-bind:value=0>Id No</option>
          <option v-bind:value=1>Agree Id</option>
        </select>
      </span>
      <input class="input is-expanded" type="number" placeholder="ID" v-model="searchId">
      <a class="button is-success" @click="search()">
        Search
      </a>
    </p>
    <div class="box">
      <a class="button is-primary" @click="pcb()">PCB</a>
      <a class="button is-primary" @click="reject()">REJECT</a>
      <a class="button is-primary" @click="next_stage()">NEXT STAGE</a>
      <p style="display: none;">
        <input type="file" id="file" ref="myFiles" @change="previewFiles">
      </p>
      <a class="button is-primary" @click="upload">Upload Doc</a>
      <a class="button is-primary" @click="view_file()">View File</a>
      <button v-for="(item, index) in getMAFCinforDocumenrs" class="button is-info" @click="view(item)">{{item}}</button>
    </div>
    <div class="box titleCustom">
      <div class="columns">
        <div class="column is-one-fifth">
          <p>Customer Name</p> 
          <p class="is-disabled view">{{getMAFCinforCust.CUSTOMERNAME}}</p>
        </div>
        <div class="column">
          <p>Gender</p> 
          <p class="is-disabled view">{{getMAFCinforCust.GENDER}}</p>
        </div>
        <div class="column">
          <p>Age</p> 
          <p class="is-disabled view">{{getMAFCinforCust.AGE}}</p>
        </div>
        <div class="column">
          <p>Id No (CMND)</p> 
          <p class="is-disabled view">{{getMAFCinforCust.CIF_NO}}</p>
        </div>
        <div class="column">
          <p>Agreement Id</p> 
          <p class="is-disabled view">{{getMAFCinforCust.AGREEMENTID}}</p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>Marital status</p> 
          <p class="is-disabled view">{{getMAFCinforCust.MARITAL_STATUS}}</p>
        </div>
        <div class="column is-one-fifth">
          <p>Phone</p> 
          <p class="is-disabled view">{{getMAFCinforCust.MOBILE}}</p>
        </div>
        <div class="column">
          <p>Current address</p> 
          <p class="is-disabled view">{{getMAFCinforCust.CURRENT_ADDRESS}}</p>
        </div>
        <div class="column">
          <p>Company</p> 
          <p class="is-disabled view">{{getMAFCinforCust.COM_NAME}}</p>
        </div>
        <div class="column">
          <p>Loanpurpose</p> 
          <p class="is-disabled view">{{getMAFCinforCust.LOANPURPOSE}}</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-fifth">
          <p>Product name</p> 
          <p class="is-disabled view">{{getMAFCinforCust.PRODUCT_NAME}}</p>
        </div>
        <div class="column">
          <p>Loan amt</p> 
          <p class="is-disabled view">{{getMAFCinforCust.LOAN_AMOUNT}}</p>
        </div>
        <div class="column">
          <p>Tenure</p> 
          <p class="is-disabled view">{{getMAFCinforCust.TENURE}}</p>
        </div>
        <div class="column">
          <p>Eff Rate</p> 
          <p class="is-disabled view">{{getMAFCinforCust.EFF_RATE}}</p>
        </div>
        <div class="column">
          <p>Flat Rate</p> 
          <p class="is-disabled view">{{getMAFCinforCust.FLAT_RATE}}</p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>DUEDAY</p> 
          <p class="is-disabled view">{{getMAFCinforCust.DUEDAY}}</p>
        </div>
        <div class="column is-one-fifth">
          <p>App Date</p> 
          <p class="is-disabled view">{{getMAFCinforCust.APP_DATE}}</p>
        </div>
        <div class="column">
          <p>Pen Date</p> 
          <p class="is-disabled view">{{getMAFCinforCust.PENDING_DATE}}</p>
        </div>
        <div class="column">
          <p>No of Dependent</p> 
          <p class="is-disabled view">{{getMAFCinforCust.NO_OF_DEPENDENT}}</p>
        </div>
        <div class="column">
          <p>Education</p> 
          <p class="is-disabled view">{{getMAFCinforCust.EDUCATION}}</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-fifth">
          <p>PAN_NO</p> 
          <p class="is-disabled view">{{getMAFCinforCust.PAN_NO}}</p>
        </div>
        <div class="column">
          <p>PIC_CODE</p> 
          <p class="is-disabled view">{{getMAFCinforCust.PIC_CODE}}</p>
        </div>
        <div class="column">
          <p>PIC</p> 
          <p class="is-disabled view">{{getMAFCinforCust.PIC}}</p>
        </div>
        <div class="column">
          <p>SCHEMEDESC</p> 
          <p class="is-disabled view">{{getMAFCinforCust.SCHEMEDESC}}</p>
        </div>
        <div class="column">
          <p>LAA_PRODUCT_ID_C</p> 
          <p class="is-disabled view">{{getMAFCinforCust.LAA_PRODUCT_ID_C}}</p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>INCOME</p> 
          <p class="is-disabled view">{{getMAFCinforCust.INCOME}}</p>
        </div>
        <div class="column is-one-fifth">
          <p>SOURCE</p> 
          <p class="is-disabled view">{{getMAFCinforCust.SOURCE}}</p>
        </div>
        <div class="column">
          <p>EMI</p> 
          <p class="is-disabled view">{{getMAFCinforCust.EMI}}</p>
        </div>
        <div class="column">
          <p>INSURANCE_COMPANY</p> 
          <p class="is-disabled view" v-if="getMAFCinforCust.INSURANCE_COMPANY === 61">Vietin</p>
          <p class="is-disabled view" v-else-if="getMAFCinforCust.INSURANCE_COMPANY === 62">Pijico</p>
          <p class="is-disabled view" v-else>Unknow</p>
        </div>
        <div class="column">
          
        </div>
      </div>
    </div>
    <div class="box titleCustom">
      <div class="columns">
        <div class="column">
          <p>APP_ID</p> 
          <p class="is-disabled view">{{getMAFCinforPCB.CBSubjectCode || 'null'}}</p>
        </div>
        <div class="column is-one-fifth">
          <p>scoreraw</p> 
          <p class="is-disabled view">{{getMAFCinforPCB.code || 'null'}}</p>
        </div>
        <div class="column">
          <p>scorecode</p> 
          <p class="is-disabled view">{{getMAFCinforPCB.scoreraw || 'null'}}</p>
        </div>
        <div class="column">
          <p>Description</p> 
          <p class="is-disabled view">{{getMAFCinforPCB.description || 'null'}}</p>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
    <div>
      <!-- <div v-for="(item, index) in getMAFCinforPCB">
        <p style="width: 250px; display: inline-block;" v-if="item !== null">{{index}}</p> :  <span>{{item}}</span>
      </div> -->
      <!-- <div v-for="(item, index) in getMAFCinforPCB">
        <p style="width: 250px; display: inline-block;" v-if="item !== null">{{index}}</p> :  <span>{{item}}</span>
      </div> -->
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
// import axios from 'axios'
// import { JsSIP } from 'jssip'
const JsSIP = require('jssip')

export default {
  data () {
    return {
      searchId: null,
      searchVal: 0
    }
  },
  created () {
    // this.loadData()
  },
  computed: {
    ...mapGetters({
      getMAFCTool: 'getMAFCTool',
      getStateApi: 'getStateApi',
      getMAFCinforCust: 'getMAFCinforCust',
      getMAFCinforPCB: 'getMAFCinforPCB',
      getMAFCinforDocumenrs: 'getMAFCinforDocumenrs'
    })
  },

  methods: {
    ...mapActions([
      'callApiSearchPOS',
      'callApiPushUND',
      'callApiCheckPcb',
      'callApiReject',
      'callApiNextStage',
      'callApiUploadFile',
      'callApiGetDocument'
    ]),
    view (file) {
      let linkFile = file.replace(/\s/g, '%')
      window.open('http://192.168.100.51:3030/UND/' + linkFile, '_blank')
    },
    view_file () {
      let data = {
        type: this.searchVal,
        id: this.searchId
      }
      this.callApiGetDocument(data)
    },
    upload () {
      document.getElementById('file').click()
    },
    previewFiles () {
      let FormData = require('form-data')
      let filename = this.$refs.myFiles.files[0].name
      this.fileUpload = filename
      var formData = new FormData()
      formData.append('cicres', this.$refs.myFiles.files[0])
      this.callApiUploadFile(formData)
      // axios.post('upFiles', formData, {
      //   headers: {
      //     'Content-Type': 'multipart/form-data'
      //   }
      // }).then(response => {
      //   // if (response.data.status) {
      //   //   axios.post('sql/cicRES', {filename: filename})
      //   //   .then(response => {
      //   //     if (response.data.status) {
      //   //       this.openNotificationWithType('success', response.data.message, response.data.data)
      //   //     } else {
      //   //       this.openNotificationWithType('danger', 'fail', response.data.message)
      //   //     }
      //   //   })
      //   //   this.getFiles()
      //   // }
      // })
    },
    search () {
      let data = {
        type: this.searchVal,
        id: this.searchId
      }
      console.log(this.searchVal)
      this.callApiSearchPOS(data)
    },
    pcb () {
      let data = {
        type: this.searchVal,
        id: parseInt(this.searchId)
      }
      console.log(data)
      this.callApiCheckPcb(data)
    },
    reject () {
      this.callApiReject({id: this.searchId})
    },
    next_stage () {
      // this.callApiNextStage({id: this.searchId})
      this.$socket.emit('socketupdateStatus', { data: this.searchId })
    },
    pushUND () {
      let data = {
        type: 0,
        id: this.searchId
      }
      this.callApiPushUND(data)
    },
    loadData () {
      // console.log('dsa')
      JsSIP.debug.enable('JsSIP:*')
      var socket = new JsSIP.WebSocketInterface('wss://192.168.100.50:8088/')
      var configuration = {
        sockets: [ socket ],
        uri: 'sip:123@192.168.100.50',
        password: '12345678',
        authorization_user: '170',
        // uri               : 'sip:170@192.168.0.210',
        // ws_servers        : 'ws://192.168.0.210:8089/ws',
        // password          : '856589',
        realm: '192.168.100.50',
        display_name: '123'
        // contact_uri       : 'sip:123@192.168.0.210'
      }
      var ua = new JsSIP.UA(configuration)
      ua.on('registered', function (e) {
        console.log(e)
      })
      ua.start()
      // var eventHandlers = {
      //   'progress': function (e) {
      //     console.log('call is in progress')
      //   },
      //   'failed': function (e) {
      //     console.log('call failed with cause: ' + e.data.cause)
      //   },
      //   'ended': function (e) {
      //     console.log('call ended with cause: ' + e.data.cause)
      //   },
      //   'confirmed': function (e) {
      //     console.log('call confirmed')
      //   }
      // }
      // var options = {
      //   'eventHandlers': eventHandlers,
      //   'mediaConstraints': { 'audio': true, 'video': true }
      // }
      // var session = ua.call('sip:bob@example.com', options)
    }
  }
}
</script>

<style scoped>
.file-chooser-hack {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
}
.file-chooser-hack > input.file-choose-button {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}
input.view {
    background-color: transparent;
    color: #000;
    border-width: 0 0 1px 0;
    border-color: #606266;
    border-radius: 0;
    border-style: dashed;
    margin-right: 20px;
}
/*.titleCustom {
  position: absolute;
  height: 120px;
}
.titleCustom > div {
  float: left;
  width: 100%;
}
.titleCustom > div > div {
  float: left;
}*/
.titleCustom > div > div > p {
  font-size: 10px;
  color: #888888;
}
.titleCustom .column {
    padding: 0.1rem;
    margin: 0.2rem 0.8rem;
}
.titleCustom > div > div > p.is-disabled.view {
    font-size: 13px;
    color: #000;
    background-color: transparent;
    color: #000;
    border-width: 0 0 1px 0;
    border-color: #606266;
    border-radius: 0;
    border-style: dashed;
}
</style>
