<template>
  <div class="content has-text-centered">
    <p>
      <img width="200" src="~assets/icon_user.png" alt="description">
    </p>

    <h1 class="is-title is-bold">Ờ chào</h1>
    
    <p>
      <strong>Đăng nhập thành công rồi đó</strong>
    </p>

    <p>Supports Vue 2.0 and Bulma 0.3!</p>
  </div>
</template>

<script>

export default {

  data () {
    return {
      pkg: this.$store.state.pkg
    }
  },

  created () {
  },

  watch: {
  },

  computed: {
  },

  methods: {
  }

}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
</style>
