$Away: #9A12B3;
$Available: #1E824C;
$Lunch: #97cd76;
$Break: #CF000F;
$Meeting: #336E7B;
$On: #f91cd0;
$Offline: #000000;
body {
  	background-color: transparent !important;
}
p {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
#app {
  	height: 100vh;
}
.text-center {
  	text-align: center !important;
}
.icon.is-small {
  	line-height: 1.5rem;
}
.Away, 
.Available,
.Lunch,
.Break,
.Meeting,
.On,
.Offline {
  	font-weight: 600;
}
.progress-bar.bg-Away { background-color: $Away }
.progress-bar.bg-Available { background-color: $Available }
.progress-bar.bg-Lunch { background-color: $Lunch }
.progress-bar.bg-Break { background-color: $Break }
.progress-bar.bg-Meeting { background-color: $Meeting }
.progress-bar.bg-Offline { background-color: $Offline }
.progress-bar.bg-On { background-color: $On }
.Away { color: $Away }
.Available { color: $Available }
.Lunch { color: $Lunch }
.Break { color: $Break }
.Meeting { color: $Meeting }
.On { color: $On }
.Offline { color: $Offline }
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(-30px);
    opacity: 0;
}

.slide-fade-tab-enter-active {
    transition: all .3s ease;
}
.slide-fade-tab-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-tab-enter, .slide-fade-tab-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}
.tabs ul {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}
.tabs:not(:last-child) {
    margin-left: 0 !important;
}
.tab-content > .tab-pane {
    display: inherit;
}
ul {
    margin-bottom: 0;
}
.tabs:not(:last-child) {
    margin-bottom: 0;
    margin-left: 1rem;
}
.tabs ul {
    border-bottom-width: 1px
}
.tabs.is-boxed a {
    border-radius: 5px 5px 0 0;
}
.vue-bulma-tabs .tab-content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    padding: 1.25rem;
    margin: 0 !important;
}
.collapse.is-fullwidth {
    width: 250px;
}
.collapse:not(.show) {
    display: block;
}
.collapse-item .card-content-box {
    padding-top: 0;
    padding-bottom: 0;
}
h3 {
    font-size: 100%;
    margin-bottom: 0;
}
.card-header {
    padding: 0;
}
.card-content {
    padding: 0;
}
.card-content-box > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.75rem;
    cursor: pointer;
}
.card-content-box > div:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}
.card-content-box > div:last-child {
    border-bottom: 0;
    padding: 0.75rem;
}

.customStyleTable {
	background-color: #FFFFFF !important;
	tbody {
		tr:hover {
  	        background-image: radial-gradient(transparent, #A2A2A242);
		 	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
            .icon {
                display: inherit;
            }
		}
		tr > td:first-child {
		  	width: 300px;
		}
		tr > td:last-child {
		  	width: 200px;
		}
		tr:nth-child(even) {
			background-color: rgba(0, 0, 0, .05);
		}
        .find-class {
            background-color: rgba(100, 0, 255, 0.05);
        }
        .find-class:nth-child(even) {
            background-color: rgba(100, 0, 255, 0.1);
        }
	}
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-chart-enter-active {
  transition: all .2s linear;
}
.slide-fade-chart-leave-active {
  transition: all .2s linear;
}
.slide-fade-chart-enter, .slide-fade-chart-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-300px);
  /*opacity: 0;*/
}
.inCollections {
    /*min-height: 350px;*/
    tr > td:first-child {
        width: 200px !important;
        min-width: 200px !important;
    }
    tr > th:first-child {
        width: 200px !important;
        min-width: 200px !important;
    }
    tr > td {
        width: calc(100% / 5);
        min-width: calc(100% / 5);
        vertical-align: middle !important;
    }
    tr > th {
        width: calc(100% / 5);
        min-width: calc(100% / 5);
        vertical-align: middle !important;
    }
    .statusCl {
        width: 278px !important;
    }
}
.customStyleTable.notcustom {
    tbody {
        tr > td:first-child {
            width: auto !important;
        }
        tr > td:last-child {
            width: auto !important;
        }
    }
}
.customStyleTable.hasnext {
    .icon {
        display: none;
    }
    tr > td:nth-last-child(2) {
        border-right: 1px solid transparent;
    }
    tr > th:nth-last-child(2) {
        border-right: 1px solid transparent;
    }
    tbody {
        tr:hover {
            .icon {
                display: inherit;
            }
        }
        tr > td:last-child {
            width: 35px !important;
            cursor: pointer;
        }
        tr > th:last-child {
            width: 35px !important;
            cursor: pointer;
        }
    }
}
.tableNoneHeader {
	width: 50% !important;
    margin: 0 30% 0 auto;
    thead {
	  	display: none;
	}
    tbody > tr > td:first-child {
	  	font-weight: 600;
	  	text-align: right;
	  	width: 30%;
	}
	tbody > tr > td {
	  	padding: .75rem .75rem .75rem .75rem;
		vertical-align: top;
		border-bottom: 0px solid #DCDFE6;
		color: #606266;
		width: 50%;
	}
    tbody > tr:nth-child(1) > td:last-child,
    tbody > tr:nth-child(2) > td:last-child,
    tbody > tr:nth-child(3) > td:last-child {
        padding: .35rem;
        vertical-align: top;
        border-bottom: 0px solid #DCDFE6;
        color: #606266;
        width: 50%;
    }
    .input.is-disabled {
        background-color: transparent;
        border-color: transparent;
        color: #606266;
    }
}
.modalCustomFooter {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
    -ms-flex-align: center;
    align-items: center;
    background-color: whitesmoke;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px;
    border-top: 1px solid #dbdbdb;
    div {
    	position: relative; 
    	width: 100%;
    	.button.is-primary {
    		float: right;
    		margin-right: 0;
    	}
    	.button {
    		float: right;
    		margin-right: 10px;
    	}
    	.button.is-danger {
    		float: left;
    	}
    }
}

@media screen and (min-width: 769px) {
    .control-label {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .control.is-horizontal > .control {
        -ms-flex-positive: 4;
        flex-grow: 4;
    }
}

@media screen and (min-width: 769px) {
    .groupModal .control-label {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .groupModal .control.is-horizontal > .control {
        -ms-flex-positive: 3;
        flex-grow: 3;
    }
}

#toolAD {
    .collapse.is-fullwidth {
        width: 100%;
    }
}
#updateCodeDSA {
    tr > th:first-child {
        width: 300px !important;
    }
    tr > th:nth-child(2) {
        width: 40% !important;
    }
}