<template>
  <div>
    <div style="top: 80px; position: absolute; width: calc(100% - 30px);" class="box">
      <div class="tabs is-centered is-boxed">
        <ul>
          <li :class="{ 'is-active': groupTab }" @click="activeTab('groups')">
            <a>
              <span class="icon is-small"><i class="fa fa-users" aria-hidden="true"></i></span>
              <span>Groups</span>
            </a>
          </li>
          <li :class="{ 'is-active': userTab }" @click="activeTab('users')">
            <a>
              <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
              <span>Users</span>
            </a>
          </li>
          <li :class="{ 'is-active': extTab }" @click="activeTab('ext')">
            <a>
              <span class="icon is-small"><i class="fa fa-external-link-square" aria-hidden="true"></i></span>
              <span>Ext</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="styleFormTabs" style="background-color: #f5f5f5;">
        <!-- <transition
          name="slide"
          mode="out-in"
          appear
          appear-active-class="fadeIn"
          enter-active-class="fadeIn"
          leave-active-class="fadeOut"
        > -->
          <group :class="[groupTab ? 'is-active' : 'is-deactive', 'tab-pane animated']" v-if="groupTab"></group>
          <user :class="[userTab ? 'is-active' : 'is-deactive', 'tab-pane animated']" v-if="userTab" :userFgroup="$route.query.group || '0'"></user>
          <ext :class="[extTab ? 'is-active' : 'is-deactive', 'tab-pane animated']" v-if="extTab" :extFuser="$route.query.user || '0'"></ext>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { Tabs, TabPane } from 'vue-bulma-tabs'
import { Group, User, Ext } from 'models'
import { mapActions } from 'vuex'
export default {
  components: {
    Tabs,
    TabPane,
    Group,
    User,
    Ext
  },
  data () {
    return {
      groupTab: Boolean,
      userTab: Boolean,
      extTab: Boolean
    }
  },
  watch: {
    $route (to, from) {
      this.activeTab(to.fullPath)
    }
  },
  created () {
    this.activeTab(this.$route.fullPath.slice(1))
    this.callApiAllUser()
    this.callApiAllGroup()
    this.callApiAllExt()
  },
  methods: {
    ...mapActions([
      'callApiAllUser',
      'callApiAllGroup',
      'callApiAllExt'
    ]),
    activeTab: function (page) {
      this.groupTab = false
      this.userTab = false
      this.extTab = false
      if (page.indexOf('groups') > -1) {
        this.groupTab = true
      } else if (page.indexOf('users') > -1) {
        this.userTab = true
      } else if (page.indexOf('ext') > -1) {
        this.extTab = true
      }
      this.$router.replace({ path: page })
    }
  }
}
</script>
<style lang="scss">
  @import '../style.scss'
</style>
<style lang="scss" scoped>
  .styleFormTabs {
    background-color: rgb(245, 245, 245);
    margin-top: 1.25rem;
    border-radius: 5px;
    padding: 1.25rem;
  }
  .tabs .icon:first-child {
    margin-right: 0.5em;
    margin-top: -0.3rem;
  }
</style>
