<template>
  <div id="toolAD">
    <div>
            <collapse>
              <collapse-item title="FAILED CODE 33">
                <div>
                  <div class="control is-horizontal custom-input" style="width: 90%">
                    <div class="control-label">
                      <label class="label">Cust. ID No</label>
                    </div>
                    <p class="control has-icon has-icon-right">
                      <input class="input" 
                              type="number" 
                              placeholder="ID No" 
                              v-model="custIdNo">
                    </p>
                  </div>
                  <div class="control is-horizontal custom-input" style="width: 90%">
                    <div class="control-label">
                      <label class="label">Tell(Mobile)</label>
                    </div>
                    <p class="control has-icon has-icon-right">
                      <input class="input" 
                              type="number" 
                              placeholder="Mobile" 
                              v-model="mobile">
                    </p>
                  </div>
                  <div class="control is-horizontal custom-input" style="width: 90%;position: relative;height: 50px;">
                    <div style="right: 0;position: absolute;">
                      <a class="button is-primary" @click="search()">Search</a>
                      <a class="button is-primary" @click="execute()" v-if="getMAFCTool.deleteTSL.length !== 0">Execute</a>
                      <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']">{{ getStateApi.message }}</span>
                    </div>
                  </div>
                  <vue-good-table
                  :columns="columns"
                  :rows="getMAFCTool.deleteTSL"
                  styleClass="vgt-table bordered customStyleTable notcustom">
                  </vue-good-table>
                </div>
              </collapse-item>
              <collapse-item title="ADD TE/DN-DSA IN FINN">
                <div>
                  <div class="control is-horizontal custom-input" style="width: 90%">
                    <div class="control-label">
                      <label class="label">Search TE/DRS</label>
                    </div>
                    <p class="control has-icon has-icon-right">
                      <input class="input" 
                              type="string" 
                              placeholder="TE/DRS Code" 
                              v-model="codetedrs">
                    </p>
                  </div>
                  <div class="control is-horizontal custom-input" style="width: 90%;position: relative;height: 50px;">
                    <div style="right: 0;position: absolute;">
                      <a class="button is-primary" @click="searchtedrs()">Search</a>
                      <a class="button is-primary" @click="executetedrs()">Add New</a>
                      <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']">{{ getStateApi.message }}</span>
                    </div>
                  </div>
                  <vue-good-table
                  :columns="columnsDRS"
                  :rows="getMAFCTool.searchDRS"
                  styleClass="vgt-table bordered customStyleTable notcustom">
                  </vue-good-table>
                </div>
              </collapse-item>
              <collapse-item title="UPDATE CODE DSA WITH ID APP" id="updateCodeDSA">
                <div>
                  <div class="control is-horizontal custom-input" style="width: 90%">
                    <div class="control-label">
                      <label class="label">App ID</label>
                    </div>
                    <p class="control has-icon has-icon-right">
                      <input class="input" 
                              type="number" 
                                placeholder="App_ID" 
                              v-model="appId">
                    </p>
                  </div>
                  <div class="control is-horizontal custom-input" style="width: 90%">
                    <div class="control-label">
                      <label class="label">New DSA</label>
                    </div>
                    <p class="control has-icon has-icon-right">
                      <input class="input" 
                              type="string" 
                              placeholder="DSA name" 
                              v-model="newDSA">
                    </p>
                  </div>
                  <div class="control is-horizontal custom-input" style="width: 90%;position: relative;height: 50px;">
                    <div style="right: 0;position: absolute;">
                      <a class="button is-primary" @click="searchIdCus()">Search</a>
                      <a class="button is-primary" @click="executeIdCus()">Excute</a>
                      <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']">{{ getStateApi.message }}</span>
                    </div>
                  </div>
                  <vue-good-table
                  :columns="columnsCust"
                  :rows="getMAFCTool.inforCust"
                  styleClass="vgt-table bordered customStyleTable notcustom">
                  </vue-good-table>
                  <vue-good-table
                  :columns="columnsCustNEW"
                  :rows="getMAFCTool.inforCustNew"
                  styleClass="vgt-table bordered customStyleTable notcustom">
                  </vue-good-table>
                </div>
              </collapse-item>
              <collapse-item title="PASS SCORE CIC">
                <div>
                  <div class="control is-horizontal custom-input" style="width: 90%">
                    <div class="control-label">
                      <label class="label">App ID</label>
                    </div>
                    <p class="control has-icon has-icon-right">
                      <input class="input" 
                              type="string" 
                              placeholder="363790,359022  or  363790-359022" 
                              v-model="passScore">
                    </p>
                  </div>
                  
                  <div class="control is-horizontal custom-input" style="width: 90%;position: relative;height: 50px;">
                    <div style="right: 0;position: absolute;">
                      <!-- <a class="button is-primary" @click="searchIdCus()">Search</a> -->
                      <a class="button is-primary" @click="executePassScore()">Excute</a>
                      <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']">{{ getStateApi.message }}</span>
                    </div>
                  </div>
                  <vue-good-table
                  :columns="columnsCust"
                  :rows="getMAFCTool.inforCust"
                  styleClass="vgt-table bordered customStyleTable notcustom">
                  </vue-good-table>
                  <vue-good-table
                  :columns="columnsCustNEW"
                  :rows="getMAFCTool.inforCustNew"
                  styleClass="vgt-table bordered customStyleTable notcustom">
                  </vue-good-table>
                </div>
              </collapse-item>
              <collapse-item title="Delete Insurance">
                <div>
                  <div class="control is-horizontal custom-input" style="width: 90%">
                    <div class="control-label">
                      <label class="label">App ID</label>
                    </div>
                    <p class="control has-icon has-icon-right">
                      <input class="input" 
                              type="string" 
                              placeholder="363790,359022  or  363790-359022" 
                              v-model="passScore">
                    </p>
                  </div>
                  
                  <div class="control is-horizontal custom-input" style="width: 90%;position: relative;height: 50px;">
                    <div style="right: 0;position: absolute;">
                      <a class="button is-primary" @click="searchIdIns()">Search</a>
                      <a class="button is-primary" @click="excuteIdIns()">Excute</a>
                      <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']">{{ getStateApi.message }}</span>
                    </div>
                  </div>
                  <vue-good-table
                  :columns="columnsInsuran"
                  :rows="getMAFCTool.inforInsurance"
                  styleClass="vgt-table bordered customStyleTable notcustom">
                  </vue-good-table>
                </div>
              </collapse-item>
            </collapse>
    </div>
  </div>
</template>

<script>
import { Collapse, Item as CollapseItem } from 'vue-bulma-collapse'
import { mapGetters, mapActions } from 'vuex'
// import axios from 'axios'
// import { JsSIP } from 'jssip'
const JsSIP = require('jssip')

export default {
  components: {
    Collapse,
    CollapseItem
  },
  data () {
    return {
      custName: null,
      custIdNo: null,
      mobile: null,
      script: null,
      codetedrs: null,
      appId: null,
      newDSA: null,
      passScore: null,
      columnsCust: [
        {
          label: 'App_Id_C',
          field: 'App_ID',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Inspector_Id',
          field: 'Inspector_Id',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Inspector_Name',
          field: 'Inspector_Name',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ],
      columnsCustNEW: [
        {
          label: '',
          field: 'App_ID_NEW',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Inspector_Id_NEW',
          field: 'Inspector_Id_NEW',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Inspector_Name_NEW',
          field: 'Inspector_Name_NEW',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ],
      columnsDRS: [
        {
          label: 'INSPECTORID',
          field: 'INSPECTORID',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'INSPECTORNAME',
          field: 'INSPECTORNAME',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'REGION',
          field: 'REGION',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'STATUS',
          field: 'STATUS',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'MAKEDATE',
          field: 'MAKEDATE',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'AUTHDATE',
          field: 'AUTHDATE',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ],
      columns: [
        {
          label: 'Full Name',
          field: 'FullName',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Salution',
          field: 'Salution',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'ID Number',
          field: 'ID_No',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Mobile',
          field: 'Mobile',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Per Add',
          field: 'Per_Add',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'DOC',
          field: 'DOC',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ],
      columnsInsuran: [
        {
          label: 'AgreeID',
          field: 'agreementId',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Type',
          field: 'insurance',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ]
    }
  },
  created () {
    // this.loadData()
  },
  computed: {
    ...mapGetters({
      getMAFCTool: 'getMAFCTool',
      getStateApi: 'getStateApi'
    })
  },

  methods: {
    ...mapActions([
      'callApiDeleteTSLeads',
      'callApiSearchTSLeads',
      'callApiExecuteScript',
      'searchTeDrs',
      'executeTeDrs',
      'searchInforCust',
      'searchInforDSAnew',
      'executeInforDSAnew',
      'searchPassScore',
      'excutePassScore',
      'searchInsurance',
      'excuteInsurance'
    ]),
    search () {
      let data = {}
      if (this.custIdNo != null) {
        data.custIdNo = this.custIdNo
      }
      if (this.mobile != null) {
        data.mobile = this.mobile
      }
      this.callApiSearchTSLeads(data)
    },
    execute () {
      let data = {}
      if (this.custIdNo != null) {
        data.custIdNo = this.custIdNo
      }
      if (this.mobile != null) {
        data.mobile = this.mobile
      }
      this.callApiDeleteTSLeads(data)
    },
    searchtedrs () {
      let data = {
        code: this.codetedrs
      }
      this.searchTeDrs(data)
    },
    executetedrs () {
      let data = {
        code: this.codetedrs
      }
      this.executeTeDrs(data)
    },
    searchIdCus () {
      this.searchInforCust({app_id: this.appId})
      this.searchInforDSAnew({newDSA: this.newDSA})
    },
    executeIdCus () {
      this.executeInforDSAnew({app_id: this.appId, oldDSA: this.getMAFCTool.inforCust[0].Inspector_Id, newDSA: this.getMAFCTool.inforCustNew[0].Inspector_Id_NEW})
    },
    executePassScore () {
      let re = /[,\s-]/
      let recheck = /[0-9]{6}/
      let score = this.passScore.split(re)
      let data = []
      for (let i in score) {
        if (recheck.test(score[i])) {
          data.push(score[i])
        }
      }
      this.searchPassScore({data: data})
      console.log(data)
    },
    searchIdIns () {
      let re = /[,\s-]/
      let recheck = /[0-9]{6}/
      let score = this.passScore.split(re)
      let data = []
      for (let i in score) {
        if (recheck.test(score[i])) {
          data.push(score[i])
        }
      }
      this.searchInsurance({data: data})
    },
    excuteIdIns () {
      let re = /[,\s-]/
      let recheck = /[0-9]{6}/
      let score = this.passScore.split(re)
      let data = []
      for (let i in score) {
        if (recheck.test(score[i])) {
          data.push(score[i])
        }
      }
      this.excuteInsurance({data: data})
      console.log(data)
    },
    loadData () {
      // console.log('dsa')
      JsSIP.debug.enable('JsSIP:*')
      var socket = new JsSIP.WebSocketInterface('wss://192.168.100.50:8088/')
      var configuration = {
        sockets: [ socket ],
        uri: 'sip:123@192.168.100.50',
        password: '12345678',
        authorization_user: '170',
        // uri               : 'sip:170@192.168.0.210',
        // ws_servers        : 'ws://192.168.0.210:8089/ws',
        // password          : '856589',
        realm: '192.168.100.50',
        display_name: '123'
        // contact_uri       : 'sip:123@192.168.0.210'
      }
      var ua = new JsSIP.UA(configuration)
      ua.on('registered', function (e) {
        console.log(e)
      })
      ua.start()
      // var eventHandlers = {
      //   'progress': function (e) {
      //     console.log('call is in progress')
      //   },
      //   'failed': function (e) {
      //     console.log('call failed with cause: ' + e.data.cause)
      //   },
      //   'ended': function (e) {
      //     console.log('call ended with cause: ' + e.data.cause)
      //   },
      //   'confirmed': function (e) {
      //     console.log('call confirmed')
      //   }
      // }
      // var options = {
      //   'eventHandlers': eventHandlers,
      //   'mediaConstraints': { 'audio': true, 'video': true }
      // }
      // var session = ua.call('sip:bob@example.com', options)
    }
  }
}
</script>

<style scoped>
.file-chooser-hack {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
}
.file-chooser-hack > input.file-choose-button {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}
</style>
