<template>
  <div>
    <a class="button is-primary is-active" @click="showPopupNewExt()" style="margin-bottom: 1rem;">New Ext</a>
    <vue-good-table
    :columns="columns"
    :rows="renderLog"
    :search-options="{
      enabled: true,
      placeholder: 'Search Ext and User Name.'
    }"
    :rowStyleClass="myStyleFn"
    styleClass="vgt-table bordered customStyleTable notcustom"
    @on-row-click="onShowDetail">
      <template slot="table-row" slot-scope="props">
        <div v-if="props.column.field == 'groupOwner'">
          <span v-if="props.row.groupOwner.name">{{ props.row.groupOwner.name }}</span>
          <span v-else>
            <span v-for="group in getAllGroups" v-if="props.row.groupOwner === group._id">
              {{ group.name }}
            </span>
          </span>
        </div>
        <div v-else-if="props.column.field === 'editor'">
          <span>{{ props.row.editor.firstName }} {{ props.row.editor.lastName }}</span>
        </div>
        <!-- <div v-else-if="props.column.field === 'user'">
          <span v-if="props.row.user">{{ props.row.user.user }}</span>
        </div> -->
        <span v-else>
          {{props.formattedRow[props.column.field]}}
        </span>
      </template>
    </vue-good-table>
    <card-modal
    :visible="visible"
    :title="title"
    :okText="'Add New Ext'"
    class="extModal"
    transition="zoom"
    @close="close"
    @ok="newGroup()">
      <article class="tile is-child">
        <div class="block">
          <div class="control is-horizontal custom-input">
            <div class="control-label">
              <label class="label">Extension</label>
            </div>
            <p class="control has-icon has-icon-right" v-if="readExt">
              <input class="input is-disabled" 
                      type="text" 
                      placeholder="Extension" 
                      v-model="extName">
            </p>
            <p class="control has-icon has-icon-right" v-else>
              <input :class="[extDetailtempt.success1 === 0 ? 'is-danger' : 'is-success', 'input']" 
                      type="text" 
                      placeholder="Extension" 
                      v-model="extName">
              <span class="icon is-small">
                <i :class="[extDetailtempt.success1 === 0 ? 'fa-warning' : 'fa-check', 'fa']"></i>
              </span>
            </p>
          </div>
          <span :class="[extDetailtempt.success1 === 0 ? 'is-danger' : 'is-success', 'help custom-helper']" v-if="!readExt">
            {{ extDetailtempt.success1 === 0 ? 'This ext is exist' : 'This ext is available' }}
          </span>
          <div class="control is-horizontal custom-input">
            <div class="control-label">
              <label class="label">Host</label>
            </div>
            <p class="control has-icon has-icon-right" v-if="readExt">
              <input class="input is-disabled" 
                      type="text" 
                      placeholder="Host" 
                      v-model="hostName">
            </p>
            <p class="control has-icon has-icon-right" v-else>
              <input :class="[extDetailtempt.success2 === 0 || extDetailtempt.success2 === 3 ? 'is-danger' : 'is-success', 'input']" 
                      type="text" 
                      placeholder="Host" 
                      v-model="hostName">
              <span class="icon is-small">
                <i :class="[extDetailtempt.success2 === 0 || extDetailtempt.success2 === 3 ? 'fa-warning' : 'fa-check', 'fa']"></i>
              </span>
            </p>
          </div>
          <span :class="[extDetailtempt.success2 === 0 || extDetailtempt.success2 === 3 ? 'is-danger' : 'is-success', 'help custom-helper']" v-if="!readExt">
            {{ extDetailtempt.success2 === 3 ? 'It not host' : extDetailtempt.success2 === 0 ? 'This host is exist' : 'This host is available' }}
          </span>
          <div class="control is-horizontal custom-input" v-if="!readExt">
            <div class="control-label">
              <label class="label">Password</label>
            </div>
            <!-- <p class="control has-icon has-icon-right">
              <input :class="[extDetailtempt.success3 === 0 ? 'is-danger' : 'is-success', 'input is-disabled password']" 
                      type="password" 
                      placeholder="Password" 
                      v-model="extDetailtempt.password">
            </p> -->
            <p class="control has-icon has-icon-right">
              <input :class="[extDetailtempt.success3 === 0 ? 'is-danger' : 'is-success', 'input is-disabled password']" 
                      type="text" 
                      placeholder="Password" 
                      v-model="extDetailtempt.password">
              <span class="icon is-small">
                <i :class="[extDetailtempt.success3 === 0 ? 'fa-warning' : 'fa-check', 'fa']"></i>
              </span>
            </p>
          </div>
          <span v-if="!readExt" :class="[extDetailtempt.success3 === 0 ? 'is-danger' : 'is-success', 'help custom-helper']">
            {{ successPass }}
          </span>
          <div class="control is-horizontal">
            <div class="control-label">
              <label class="label">Group</label>
            </div>
            <div class="control">
              <div :class="[readExt ? 'is-disabled' : '', 'select is-fullwidth']">
                <select v-model="groupOwner._id">
                  <option disabled value="none">Please select one</option>
                  <option v-for="(group, index) in getAllGroups" :key="index" :value="group._id">{{ group.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="control is-horizontal" v-if="!addExt">
          <div class="control-label">
            <label class="label">User</label>
          </div>
          <div :class="'control ' + disableExt">
            <div :class="[readExt || disableExt ? 'is-disabled' : '', 'select is-fullwidth password']">
              <select v-model="extUser._id">
                <option disabled value="none">Please select ext</option>
                <option v-if="exts.length === 0" disabled value="none">Not ext available</option>
                <option v-for="(obj, index) in exts" :key="index" :value="obj._id">{{ obj.user }}</option>
              </select>
            </div>
          </div>
        </div>
        </div>
      </article>
      <div class="modal-card-foot modalCustomFooter" v-if="readExt">
        <div>
          <a class="button is-primary" @click="readExt = false">Edit Ext</a>
          <a class="button" @click="close">Cancel</a>
          <a class="button is-danger" @click="deleteExt()">Delete Ext</a>
          <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" 
                :value="listenStatusApi"
                style="float: left;">{{ getStateApi.message }}</span>
        </div>
      </div>
      <div class="modal-card-foot modalCustomFooter" v-else>
        <div>
          <a v-if="addExt" :class="[disableCreate ? 'is-disabled' : '', 'button is-primary']" @click="newExt()">Add Ext</a>
          <a v-else class="button is-primary" @click="editExt()">Save</a>
          <a class="button" @click="close">Cancel</a>
          <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" :value="listenStatusApi">{{ getStateApi.message }}</span>
        </div>
      </div>
    </card-modal>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { CardModal } from 'vue-bulma-modal'
export default {
  components: {
    CardModal
  },
  data () {
    return {
      visible: false,
      readExt: false,
      addExt: false,
      title: '',
      columns: [
        {
          label: 'EXT',
          field: 'ext',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        // {
        //   label: 'Host',
        //   field: 'host',
        //   thClass: 'text-center',
        //   tdClass: 'text-center'
        // },
        {
          label: 'User',
          field: 'userName',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Group',
          field: 'groupOwner',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Editor',
          field: 'editor',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Created At',
          field: 'createdAt',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Updated At',
          field: 'updatedAt',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ],
      extDetailtempt: {},
      groupOwner: {},
      extUser: {},
      exts: [],
      users: []
    }
  },
  created () {
  },
  props: {
    extFuser: { type: String }
  },
  computed: {
    ...mapGetters({
      getAllGroups: 'getAllGroups',
      getAllUsers: 'getAllUsers',
      getAllExt: 'getAllExt',
      getGroupView: 'getGroupView',
      getStateApi: 'getStateApi'
    }),
    renderLog: function () {
      let arr = []
      for (let i in this.getAllExt) {
        // console.log(this.getAllExt[i].user)
        if (this.getAllExt[i].user) {
          this.getAllExt[i].userName = this.getAllExt[i].user.user
        }
        if (this.getAllExt[i].user && this.getAllExt[i].user._id === this.extFuser) {
          this.getAllExt[i].find = true
          arr.unshift(this.getAllExt[i])
        } else {
          this.getAllExt[i].find = false
          arr.push(this.getAllExt[i])
        }
      }
      return arr
    },
    extName: {
      get: function () {
        return this.extDetailtempt.ext
      },
      set: function (newValue) {
        let arr = this.getAllExt
        for (let i = 0; i < arr.length; i++) {
          arr[i].ext === newValue ? this.extDetailtempt.success1 = 0 : this.extDetailtempt.success1 = 1
        }
        this.extDetailtempt.ext = newValue
        return this.extDetailtempt.ext
      }
    },
    hostName: {
      get: function () {
        return this.extDetailtempt.host
      },
      set: function (newValue) {
        let arr = this.getAllExt
        let checkIpv4 = /\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/
        let checkHost = checkIpv4.test(newValue)
        for (let i = 0; i < arr.length; i++) {
          if (checkHost) {
            arr[i].host === newValue ? this.extDetailtempt.success2 = 1 : this.extDetailtempt.success2 = 1
          } else {
            this.extDetailtempt.success2 = 3
          }
        }
        this.extDetailtempt.host = newValue
        return this.extDetailtempt.host
      }
    },
    successPass: function () {
      let re = /(?=.*\d)(?=.*[!@#$&*])(?=.*[a-z])(?=.*[A-Z]).{8,}/
      if (this.extDetailtempt.password === 'Mafc123$') {
        this.extDetailtempt.success3 = 1
        return 'Default password.'
      } else {
        if (re.test(this.extDetailtempt.password)) {
          this.extDetailtempt.success3 = 2
          return 'Password is correct.'
        } else {
          this.extDetailtempt.success3 = 0
          return 'Password must contain at least 8 characters, including UPPER/lowercase, numbers and special character.'
        }
      }
    },
    disableExt: function () {
      let group = this.groupOwner._id
      this.exts = []
      if (group !== 'none') {
        for (let i in this.getAllUsers) {
          if (this.getAllUsers[i].groupOwner._id === group) {
            this.exts.push(this.getAllUsers[i])
          }
        }
        return false
      } else {
        return true
      }
    },
    disableCreate: function () {
      let checkInfor = this.extDetailtempt
      if (checkInfor.success1 === 1 &&
          checkInfor.success2 === 1 &&
          checkInfor.success3 !== 0 &&
          this.groupOwner._id !== 'none') {
        return false
      } else {
        return true
      }
    },
    listenStatusApi: function () {
      let status = this.getStateApi.status
      if (status && (this.addExt || this.readExt)) {
        setTimeout(() => {
          this.visible = false
          this.$emit('close')
          this.getStateApi.message = ''
        }, 10)
      }
    },
    // listenChangeView: function () {
    //   let callAllApi = this.getChangeViewStatus
    //   if (callAllApi) {
    //     this.callApiAllExt()
    //     this.callApiAllGroup()
    //   }
    // },
    count () {
      return this.getGroupView.groupViewer.name
    }
  },
  watch: {
    count (newCount, oldCount) {
      this.listenChangeView()
    }
  },
  methods: {
    ...mapActions([
      'callApiCreateExt',
      'callApiUpdateExt',
      'callApiAllGroup',
      'callApiAllExt',
      'callApiAllUser',
      'callApiDeleteExt',
      'callApiUpdateExtlUser',
      'resetStateApi'
    ]),
    listenChangeView () {
      this.callApiAllUser()
      this.callApiAllExt()
      this.callApiAllGroup()
    },
    cloneObj (obj) {
      if (obj === null || typeof obj !== 'object') return obj
      let copy = obj.constructor()
      for (let attr in obj) {
        if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr]
      }
      return copy
    },
    myStyleFn (row) {
      if (row.find) {
        return 'find-class'
      }
      return ''
    },
    showPopupNewExt () {
      this.resetStateApi()
      this.visible = true
      this.addExt = true
      this.readExt = false
      this.title = 'Add New Ext'
      this.extDetailtempt = {
        ext: '',
        host: '',
        password: 'Mafc123$',
        success1: 1,
        success2: 1,
        success3: 1
      }
      this.groupOwner = {
        _id: 'none',
        name: 'none'
      }
      this.extUser = {}
    },
    onShowDetail (ext) {
      this.title = 'Ext Detail'
      this.resetStateApi()
      this.visible = true
      this.readExt = true
      this.addExt = false
      this.extDetail = this.cloneObj(ext.row)
      this.extDetailtempt = this.cloneObj(ext.row)
      this.groupOwner = this.cloneObj(ext.row.groupOwner)
      if (ext.row.user) {
        this.extUser = this.cloneObj(ext.row.user)
      } else {
        this.extUser = {}
      }
      let assignObj = {
        password: 'Mafc123$',
        success1: 1,
        success2: 1,
        success3: 1
      }
      this.extDetailtempt = Object.assign(this.extDetailtempt, assignObj)
    },
    newExt () {
      let checkInfor = this.extDetailtempt
      let detail = {
        ext: checkInfor.ext,
        host: checkInfor.host,
        groupOwner: this.groupOwner._id,
        password: checkInfor.password
      }
      this.callApiCreateExt(detail)
    },
    editExt: function () {
      let checkInfor = this.extDetailtempt
      let detail = {
        ext: checkInfor.ext,
        host: checkInfor.host,
        groupOwner: this.groupOwner._id,
        password: checkInfor.password
      }
      if (this.extUser._id !== 'none') {
        detail.user = this.extUser._id
      }
      this.callApiUpdateExt({id: checkInfor._id, data: detail})
    },
    deleteExt: function () {
      this.callApiDeleteExt(this.extDetailtempt._id)
    },
    close () {
      this.visible = false
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss" scoped>
.custom-helper {
  margin-left: 23%;
  margin-top: 0;
  margin-bottom: 10px;
}
.custom-input {
  margin-bottom: 0;
}
.control.has-icon .icon {
  top: 1rem;
}
.statusApi {
  margin: 10px 20px;
}
.custom-input .is-disabled.input {
  margin-bottom: 0.75rem;
}
.is-disabled.input,
.is-disabled:not(.password) > select {
  background-color: transparent;
  color: #000;
  border-width: 0 0 1px 0;
  border-color: #606266;
  border-radius: 0;
  border-style: dashed;
}
.is-disabled.select:after {
  display: none;
}
.input.is-disabled.password,
.select.is-disabled.password {
  padding-right: 2.5em;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
.is-disabled.password > select {
  background-color: transparent;
  color: #000;
  border-width: 0;
}
.icon.is-small.resetPass {
  color: hsl(141, 71%, 48%);
  cursor: pointer;
  pointer-events: auto;
}
</style>
