<template>
  <div>
    <a class="button is-primary is-active" @click="showPopupNewGroup()" style="margin-bottom: 1rem;">New Group</a>
    <vue-good-table
    :columns="columns"
    :rows="getAllGroups"
    :search-options="{
      enabled: true,
      placeholder: 'Search Name Group.'
    }"
    styleClass="vgt-table bordered customStyleTable notcustom hasnext"
    @on-cell-click="onCellClick">
    <template slot="table-row" slot-scope="props">
      <div v-if="props.column.field == 'groupOwner'">
        <span v-if="props.row.groupOwner.name">{{ props.row.groupOwner.name }}</span>
        <span v-else>
          <span v-for="group in getAllGroups" v-if="props.row.groupOwner === group._id">
            {{ group.name }}
          </span>
        </span>
      </div>
      <div v-else-if="props.column.field == 'editor'">
        <span>{{ props.row.editor.firstName }} {{ props.row.editor.lastName }}</span>
      </div>
      <div v-else-if="props.column.field == 'nextto'">
        <span class="icon is-small">
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
      <span v-else>
        {{props.formattedRow[props.column.field]}}
      </span>
    </template>
    </vue-good-table>
    <card-modal
    :visible="visible"
    :title="title"
    :okText="'Add Group'"
    class="groupModal"
    transition="zoom"
    @close="close"
    @ok="newGroup()">
      <article class="tile is-child">
        <div class="block">
          <div class="control is-horizontal custom-input">
            <div class="control-label">
              <label class="label">Group name</label>
            </div>
            <p class="control has-icon has-icon-right" v-if="readGroup">
              <input class="input is-disabled" 
                      type="text" 
                      placeholder="Group Name" 
                      v-model="groupName">
            </p>
            <p class="control has-icon has-icon-right" v-else>
              <input :class="[groupDetailtempt.success1 === 0 ? 'is-danger' : 'is-success', 'input']" 
                      type="text" 
                      placeholder="Group Name" 
                      v-model="groupName">
              <span class="icon is-small">
                <i :class="[groupDetailtempt.success1 === 0 ? 'fa-warning' : 'fa-check', 'fa']"></i>
              </span>
            </p>
          </div>
          <span :class="[groupDetailtempt.success1 === 0 ? 'is-danger' : 'is-success', 'help custom-helper']" v-if="!readGroup" style="margin-left: 28%;">
            {{ groupDetailtempt.success1 === 0 ? 'This group is exist' : 'This group is available' }}
          </span>
          <div class="control is-horizontal">
            <div class="control-label">
              <label class="label">Group owner</label>
            </div>
            <div class="control">
              <div :class="[readGroup ? 'is-disabled' : '', 'select is-fullwidth']">
                <select v-model="groupOwner._id">
                  <option disabled value="none">Please select one</option>
                  <option v-for="(group, index) in getGroupView.listGroup" :key="index" :value="group._id">{{ group.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="control is-horizontal custom-input" v-if="readGroup">
            <div class="control-label">
              <label class="label">Group children ( {{ groupDetailtempt.groupChildrens.length }} )</label>
            </div>
            <p class="control has-icon has-icon-right">
              <ul>
                <li v-for="(item, index) in groupDetailtempt.groupChildrens">
                  <input  v-for="gr in getAllGroups" 
                          v-if="gr._id === item" 
                          class="input is-disabled" 
                          type="text" 
                          v-model="(index + 1) + ': ' + gr.name">
                </li>
                <li v-if="groupDetailtempt.groupChildrens.length === 0">
                  <input  class="input is-disabled" type="text">
                </li>
              </ul>
            </p>
          </div>
        </div>
      </article>
      <div class="modal-card-foot modalCustomFooter" v-if="readGroup">
        <div>
          <a class="button is-primary" @click="readGroup = false">Edit Group</a>
          <a class="button" @click="close">Cancel</a>
          <!-- <a class="button is-danger" @click="deleteGroup()">Delete Group</a> -->
          <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" 
                :value="listenStatusApi"
                style="float: left;">{{ getStateApi.message }}</span>

          <!-- <a :class="[disableCreate ? 'is-disabled' : '', 'button is-primary']" @click="newGroup()">Edit Group</a>
          <a class="button" @click="close">Cancel</a>
          <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" :value="listenStatusApi">{{ getStateApi.message }}</span> -->
        </div>
      </div>
      <div class="modal-card-foot modalCustomFooter" v-else>
        <div>
          <a v-if="addGroup" :class="[disableCreate ? 'is-disabled' : '', 'button is-primary']" @click="newGroup()">Add Group</a>
          <a v-else class="button is-primary" @click="editGroup()">Save</a>
          <a class="button" @click="close">Cancel</a>
          <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" :value="listenStatusApi">{{ getStateApi.message }}</span>
        </div>
      </div>
    </card-modal>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { CardModal } from 'vue-bulma-modal'
import { Collapse, Item as CollapseItem } from 'vue-bulma-collapse'
export default {
  components: {
    CardModal,
    Collapse,
    CollapseItem
  },
  data () {
    return {
      visible: false,
      readGroup: false,
      addGroup: false,
      title: '',
      columns: [
        {
          label: 'Groups',
          field: 'name',
          thClass: 'text-center',
          tdClass: 'text-center',
          filterOptions: {
            enabled: true
          }
        },
        {
          label: 'Editor',
          field: 'editor',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Group Owner',
          field: 'groupOwner',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Created At',
          field: 'createdAt',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Updated At',
          field: 'updatedAt',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: '',
          field: 'nextto'
        }
      ],
      groupDetail: {},
      groupDetailtempt: {
        groupChildrens: Array
      },
      groupOwner: {}
    }
  },
  props: {
  },
  created () {
  },
  computed: {
    ...mapGetters({
      getAllGroups: 'getAllGroups',
      getAllUsers: 'getAllUsers',
      getGroupView: 'getGroupView',
      getStateApi: 'getStateApi'
    }),
    groupName: {
      get: function () {
        return this.groupDetailtempt.name
      },
      set: function (newValue) {
        let allGroup = this.getAllGroups
        for (let i = 0; i < allGroup.length; i++) {
          allGroup[i].name === newValue ? this.groupDetailtempt.success1 = 0 : this.groupDetailtempt.success1 = 1
        }
        this.groupDetailtempt.name = newValue
        return this.groupDetailtempt.name
      }
    },
    handleChangeData: {
      get: function () {
        this.getAllGroups = []
        return this.getAllGroups
      },
      set: function (newData) {
        this.getAllGroups = []
        this.getAllGroups = newData
        return this.getAllGroups
      }
    },
    disableCreate: function () {
      let checkInfor = this.groupDetailtempt
      if (checkInfor.success1 === 1 && checkInfor.groupOwner !== 'none') {
        return false
      } else {
        return true
      }
    },
    listenStatusApi: function () {
      let status = this.getStateApi.status
      if (status && (this.addGroup || this.readGroup)) {
        setTimeout(() => {
          this.visible = false
          this.$emit('close')
          this.resetStateApi()
        }, 10)
      }
    },
    count () {
      return this.getGroupView.groupViewer.name
    }
  },
  watch: {
    count (newCount, oldCount) {
      this.listenChangeView()
    }
  },
  methods: {
    ...mapActions([
      'callApiCreateGroup',
      'callApiEditGroup',
      'callApiAllGroup',
      'callApiAllExt',
      'callApiAllUser',
      'callApiDeleteGroup',
      'resetStateApi'
    ]),
    listenChangeView () {
      this.callApiAllExt()
      this.callApiAllUser()
      this.callApiAllGroup()
    },
    cloneObj (obj) {
      if (obj === null || typeof obj !== 'object') return obj
      let copy = obj.constructor()
      for (let attr in obj) {
        if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr]
      }
      return copy
    },
    onCellClick (param) {
      if (param.column.field === 'nextto') {
        this.$router.replace({ path: 'users?group=' + param.row._id })
      } else {
        this.onShowDetail(param)
      }
    },
    onShowDetail (group) {
      this.resetStateApi()
      this.title = 'Group Detail'
      this.visible = true
      this.readGroup = true
      this.addGroup = false
      this.groupDetail = this.cloneObj(group.row)
      this.groupDetailtempt = this.cloneObj(group.row)
      this.groupOwner = this.cloneObj(group.row.groupOwner)
    },
    showPopupNewGroup: function () {
      this.resetStateApi()
      this.visible = true
      this.addGroup = true
      this.readGroup = false
      this.title = 'Add New Group'
      this.groupDetailtempt = {
        name: '',
        groupOwner: '',
        success1: 1
      }
      this.groupOwner = {
        _id: 'none',
        name: 'none'
      }
    },
    editGroup: function () {
      let checkInfor = this.groupDetailtempt
      let detail = {
        name: checkInfor.name,
        groupOwner: this.groupOwner._id
      }
      this.callApiEditGroup({id: checkInfor._id, data: detail})
    },
    newGroup: function () {
      let checkInfor = this.groupDetailtempt
      let groupDetail = {
        data: {
          name: checkInfor.name,
          groupOwner: this.groupOwner._id
        },
        handle: this.$auth.user()
      }
      this.callApiCreateGroup(groupDetail)
    },
    deleteGroup: function () {
      this.callApiDeleteGroup(this.groupDetailtempt._id)
    },
    close () {
      this.visible = false
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss" scoped>
.custom-helper {
  margin-left: 23%;
  margin-top: 0;
  margin-bottom: 10px;
}
.custom-input {
  margin-bottom: 0;
}
.control.has-icon .icon {
  top: 1rem;
}
.statusApi {
  margin: 10px 20px;
}
.custom-input .is-disabled.input {
  margin-bottom: 0.75rem;
}
.is-disabled.input,
.is-disabled > select {
  background-color: transparent;
  color: #000;
  border-width: 0 0 1px 0;
  border-color: #606266;
  border-radius: 0;
  border-style: dashed;
}
.is-disabled.select:after {
  display: none;
}
.input.is-disabled.password {
  padding-right: 2.5em;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
.icon.is-small.resetPass {
  color: hsl(141, 71%, 48%);
  cursor: pointer;
  pointer-events: auto;
}
.card-content-box > ul > li:not(:last-child) {
  border-bottom: 1px solid #DCDFE6;
}
.card-content-box > ul > li {
  padding: .75rem;
}
</style>
