<template>
  <div>
    <a class="button is-primary is-active" @click="showPopupNewUser()" style="margin-bottom: 1rem;" :name="count">New User</a>
    <vue-good-table
    :columns="columns"
    :rows="renderLog"
    :search-options="{
      enabled: true,
      placeholder: 'Search user: User Name, Full Name, or Type.'
    }"
    styleClass="vgt-table bordered customStyleTable hasnext"
    :rowStyleClass="myStyleFn"
    @on-cell-click="onCellClick">
    <template slot="table-row" slot-scope="props">
      <div v-if="props.column.field === 'group'">
        <span>{{props.row.groupOwner.name}}</span>
      </div>
      <div v-else-if="props.column.field == 'nextto'">
        <span class="icon is-small">
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
      <span v-else>
        {{props.formattedRow[props.column.field]}}
      </span>
    </template>
    </vue-good-table>

    <card-modal 
    :visible="visible"
    :title="title"
    :okText="'Add User'"
    transition="zoom"
    @close="close"
    @ok="newUser()">
    <article class="tile is-child">
      <div class="block">
        <div class="control is-horizontal">
          <div class="control-label">
            <label class="label">Name</label>
          </div>
          <div class="control is-grouped">
            <p class="control is-expanded">
              <input :class="[readUser ? 'is-disabled' : '', 'input']" 
                      type="text" 
                      placeholder="First Name" 
                      v-model="userDetailtempt.firstName">
            </p>
            <p class="control is-expanded">
              <input :class="[readUser ? 'is-disabled' : '', 'input']" 
                      type="email" 
                      placeholder="Last Name" 
                      v-model="userDetailtempt.lastName">
            </p>
          </div>
        </div>
        <div class="control is-horizontal custom-input">
          <div class="control-label">
            <label class="label">User name</label>
          </div>
          <p class="control has-icon has-icon-right" v-if="readUser">
            <input :class="[readUser ? 'is-disabled' : '', 'input']" 
                    type="text" 
                    placeholder="User Name" 
                    v-model="userName">
          </p>
          <p class="control has-icon has-icon-right" v-else>
            <input :class="[userDetailtempt.success1 === 0 && !getStateApi.status ? 'is-danger' : 'is-success', 'input']" 
                    type="text" 
                    placeholder="User Name" 
                    v-model="userName">
            <span class="icon is-small">
              <i :class="[userDetailtempt.success1 === 0 && !getStateApi.status ? 'fa-warning' : 'fa-check', 'fa']"></i>
            </span>
          </p>
        </div>
        <span v-if="!readUser" :class="[userDetailtempt.success1 === 0 ? 'is-danger' : 'is-success', 'help custom-helper']">
          <span v-if="!getStateApi.status">
            {{ userDetailtempt.success1 === 0 ? 'This username is exist' : userDetailtempt.success1 === 2 ? '' : 'This username is available' }}
          </span>
        </span>
        <div class="control is-horizontal custom-input" v-if="!readUser">
          <div class="control-label">
            <label class="label">Password</label>
          </div>
          <p class="control has-icon has-icon-right" v-if="resetPass">
            <input :class="[userDetailtempt.success2 === 0 ? 'is-danger' : 'is-success', 'input is-disabled password']" 
                    type="password" 
                    placeholder="Password" 
                    v-model="userDetailtempt.password">
            <span v-if="$auth.user().token === '4WprOJOLWH8uSATZlLSgj3IdWA1FvqMg'" class="icon is-small resetPass" @click="funcResetPass()">
              <i class="fa fa-reply-all"></i>
            </span>
          </p>
          <p class="control has-icon has-icon-right" v-else>
            <input :class="[userDetailtempt.success2 === 0 ? 'is-danger' : 'is-success', 'input is-disabled password']" 
                    type="text" 
                    placeholder="Password" 
                    v-model="userDetailtempt.password">
            <span class="icon is-small">
              <i :class="[userDetailtempt.success2 === 0 ? 'fa-warning' : 'fa-check', 'fa']"></i>
            </span>
          </p>
        </div>
        <span v-if="!readUser" :class="[userDetailtempt.success2 === 0 ? 'is-danger' : 'is-success', 'help custom-helper']">
          <span v-if="!resetPass">
            {{ successPass }}
          </span>
        </span>
        <div class="control is-horizontal">
          <div class="control-label">
            <label class="label">Type</label>
          </div>
          <div class="control">
            <div :class="[readUser ? 'is-disabled' : '', 'select is-fullwidth']">
              <select v-model="userDetailtempt.type">
                <option disabled value="none">Please select type</option>
                <option v-for="(type, index) in types" :key="index" :value="type.name">{{ type.name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="control is-horizontal" v-if="$auth.user()._id === '5a7d48755b225753411f6db5'">
          <div class="control-label">
            <label class="label">Role Files</label>
          </div>
          <div class="control is-grouped">
            <p class="control is-expanded">
              <input :class="[readUser ? 'is-disabled' : '', 'input']" 
                      type="text" 
                      placeholder="Role,Role,..." 
                      v-model="userDetailtempt.roleFiles">
            </p>
          </div>
        </div>

        <div class="control is-horizontal">
          <div class="control-label">
            <label class="label">Group</label>
          </div>
          <div class="control">
            <div :class="[readUser ? 'is-disabled' : '', 'select is-fullwidth']">
              <select v-model="groupOwner._id">
                <option disabled value="none">Please select group</option>
                <option v-for="(group, index) in getAllGroups" :key="index" :value="group._id">{{ group.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- <div class="control is-horizontal">
          <div class="control-label">
            <label class="label">Ext</label>
          </div>
          <div class="control">
            <div :class="[readUser || disableExt ? 'is-disabled' : '', 'select is-fullwidth password']">
              <select v-model="extUser._id">
                <option disabled value="none">Please select ext</option>
                <option v-if="exts.length === 0" disabled value="none">Not ext available</option>
                <option v-for="(obj, index) in exts" :key="index" :value="obj._id">{{ obj.ext }}</option>
              </select>
            </div>
          </div>
        </div> -->
      </div>
    </article>
    <div class="modal-card-foot modalCustomFooter" v-if="!readUser">
      <div>
        <a v-if="addUser" :class="[disableCreate ? 'is-disabled' : '', 'button is-primary']" @click="newUser()">Add User</a>
        <a v-else class="button is-primary" @click="editUser()">Save</a>
        <a class="button" @click="close">Cancel</a>
        <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" :value="listenStatusApi">{{ getStateApi.message }}</span>
      </div>
    </div>
    <div class="modal-card-foot modalCustomFooter" v-else>
      <div>
        <a :class="[disableCreate ? '' : '', 'button is-primary']" @click="readUser = false">Edit User</a>
        <a class="button" @click="close">Cancel</a>
        <a class="button is-danger" @click="deleteUser()">Delete User</a>
        <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" 
              :value="listenStatusApi"
              style="float: left;">{{ getStateApi.message }}</span>
      </div>
    </div>
  </card-modal>
  
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { CardModal } from 'vue-bulma-modal'

export default {
  components: {
    CardModal
  },
  data () {
    return {
      visible: false,
      title: '',
      columns: [
        {
          label: 'User',
          field: 'user'
        },
        {
          label: 'First Name',
          field: 'firstName'
        },
        {
          label: 'Last Name',
          field: 'lastName'
        },
        {
          label: 'Type',
          field: 'type',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Group',
          field: 'group',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Created At',
          field: 'createdAt',
          thClass: 'text-center',
          tdClass: 'text-center'
          // dateInputFormat: 'DD-MM-YYYY HH:mm:ss',
          // dateOutputFormat: 'DD/MM/YYYY HH:mm'
        },
        {
          label: 'Updated At',
          field: 'updatedAt',
          thClass: 'text-center',
          tdClass: 'text-center'
          // dateInputFormat: 'DD-MM-YYYY HH:mm:ss',
          // dateOutputFormat: 'DD/MM/YYYY HH:mm'
        },
        {
          label: '',
          field: 'nextto'
        }
      ],
      valueRowsDynamic: [],
      server: {},
      types: [{
        name: 'ADMIN'
      }, {
        name: 'USER'
      }],
      groups: Array,
      readUser: false,
      addUser: false,
      resetPass: false,
      userDetail: {},
      userDetailtempt: {},
      groupOwner: {},
      extUser: {},
      exts: [],
      users: []
    }
  },
  props: {
    userFgroup: { type: String }
  },
  created () {
  },
  computed: {
    ...mapGetters({
      getAllGroups: 'getAllGroups',
      getAllUsers: 'getAllUsers',
      getAllExt: 'getAllExt',
      getUserDetail: 'getUserDetail',
      getStateApi: 'getStateApi',
      getGroupView: 'getGroupView',
      getChangeViewStatus: 'getChangeViewStatus'
    }),
    renderLog: function () {
      let arr = []
      for (let i in this.getAllUsers) {
        if (this.getAllUsers[i].groupOwner._id === this.userFgroup) {
          this.getAllUsers[i].find = true
          arr.unshift(this.getAllUsers[i])
        } else {
          this.getAllUsers[i].find = false
          arr.push(this.getAllUsers[i])
        }
      }
      return arr
    },
    userName: {
      get: function () {
        this.userDetailtempt.success1 = 1
        for (let i in this.getAllUsers) {
          if (this.userDetail.user === this.userDetailtempt.user) {
            this.userDetailtempt.success1 = 2
          } else if (this.userDetailtempt.user === this.getAllUsers[i].user) {
            this.userDetailtempt.success1 = 0
          }
        }
        return this.userDetailtempt.user
      },
      set: function (newValue) {
        this.userDetailtempt.success1 = 1
        this.userDetailtempt.user = newValue
        for (let i in this.getAllUsers) {
          if (this.userDetail.user === this.userDetailtempt.user) {
            this.userDetailtempt.success1 = 2
          } else if (this.userDetailtempt.user === this.getAllUsers[i].user) {
            this.userDetailtempt.success1 = 0
          }
        }
        return this.userDetailtempt.user
      }
    },
    successPass: function () {
      let re = /(?=.*\d)(?=.*[!@#$&*])(?=.*[a-z])(?=.*[A-Z]).{8,}/
      if (this.userDetailtempt.password === 'Mafc123$') {
        this.userDetailtempt.success2 = 1
        return 'Default password.'
      } else {
        if (re.test(this.userDetailtempt.password)) {
          this.userDetailtempt.success2 = 2
          return 'Password is correct.'
        } else {
          this.userDetailtempt.success2 = 0
          return 'Password must contain at least 8 characters, including UPPER/lowercase, numbers and special character.'
        }
      }
    },
    disableExt: function () {
      let group = this.groupOwner._id
      this.exts = []
      if (group !== 'none') {
        for (let i in this.getAllExt) {
          if (this.getAllExt[i].groupOwner._id === group) {
            this.exts.push(this.getAllExt[i])
          }
        }
        return false
      } else {
        return true
      }
    },
    disableCreate: function () {
      let checkInfor = this.userDetailtempt
      if (checkInfor.success1 === 1 &&
          checkInfor.success2 !== 0 &&
          checkInfor.type !== 'none' &&
          this.groupOwner._id !== 'none') {
        return false
      } else {
        return true
      }
    },
    listenStatusApi: function () {
      let status = this.getStateApi.status
      if (status && (this.addUser || this.readUser)) {
        setTimeout(() => {
          this.visible = false
          this.$emit('close')
          this.getStateApi.message = ''
        }, 10)
      }
    },
    count () {
      return this.getGroupView.groupViewer.name
    }
  },
  watch: {
    count (newCount, oldCount) {
      this.listenChangeView()
    }
  },
  methods: {
    ...mapActions([
      'callApiDetailUser',
      'callApiCreateUser',
      'callApiAllGroup',
      'callApiAllExt',
      'callApiAllUser',
      'callApiResetPass',
      'callApiDeleteUser',
      'callApiEditUser',
      'callApiUpdateExtlUser',
      'resetStateApi'
    ]),
    listenChangeView () {
      this.callApiAllExt()
      this.callApiAllUser()
      this.callApiAllGroup()
    },
    cloneObj (obj) {
      if (obj === null || typeof obj !== 'object') return obj
      let copy = obj.constructor()
      for (let attr in obj) {
        if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr]
      }
      return copy
    },
    myStyleFn (row) {
      if (row.find) {
        return 'find-class'
      }
      return ''
    },
    onCellClick (param) {
      if (param.column.field === 'nextto') {
        console.log(param)
        this.$router.replace({ path: 'ext?user=' + param.row._id })
      } else {
        this.onShowDetail(param)
      }
    },
    onShowDetail (user) {
      this.title = 'User Detail'
      this.resetStateApi()
      this.visible = true
      this.readUser = true
      this.resetPass = true
      this.addUser = false
      this.userDetail = this.cloneObj(user.row)
      this.userDetailtempt = this.cloneObj(user.row)
      this.groupOwner = this.cloneObj(user.row.groupOwner)
      let assignObj = {
        password: 'Mafc123$',
        success1: 1,
        success2: 1
      }
      this.userDetailtempt = Object.assign(this.userDetailtempt, assignObj)
    },
    showPopupNewUser: function () {
      this.resetStateApi()
      this.visible = true
      this.readUser = false
      this.resetPass = false
      this.addUser = true
      this.title = 'Add New User'
      this.userDetail = {
        user: ''
      }
      this.userDetailtempt = {
        firstName: '',
        lastName: '',
        user: '',
        password: 'Mafc123$',
        type: 'none',
        groupOwner: '',
        success1: 1,
        success2: 1
      }
      this.groupOwner = {
        _id: 'none',
        name: 'none'
      }
      this.extUser = {
        _id: 'none',
        ext: 'none'
      }
    },
    newUser: function () {
      let checkInfor = this.userDetailtempt
      let userDetail = {
        user: checkInfor.user,
        firstName: checkInfor.firstName,
        lastName: checkInfor.lastName,
        type: checkInfor.type,
        groupOwner: this.groupOwner._id,
        password: checkInfor.password,
        roleFiles: checkInfor.roleFiles.split(',')
      }
      if (this.extUser._id !== 'none') {
        userDetail.ext = this.extUser._id
      }
      // let code = ['MAFC1165', 'MAFC1163', 'MAFC1016', 'MAFC1275', 'MAFC1164', 'MAFC1137', 'MAFC0987', 'MAFC1295', 'MAFC1251']
      // // let name = [['Nguyễn Thị Thanh', 'Thủy'], ['Hồ Thị Tuyết', 'Linh'], ['Nguyễn Thị Thu', 'Thảo'], ['Trần Thị Cẫm', 'Thu'], ['Trần Ngọc', 'Trâm'], ['Đặng Thị Phương', 'Thảo'], ['Nguyễn Ngọc', 'Thảo'], ['Nguyễn Thị Thu', 'Sương'], ['Phan Thị', 'Hoa'], ['Phạm Thị Diễm', 'Phương'], ['Phạm Phú', 'Quí'], ['Nguyễn Thị Thùy', 'Trang'], ['Nguyễn Thị Hà', 'Tiên'], ['Nguyễn Khánh', 'Nguyên'], ['Lê Bích', 'Diễm'], ['Huỳnh Minh', 'Tú'], ['Vũ Huy', 'Hoàng'], ['Lương Thị Vân', 'Anh'], ['Dương Thanh', 'Tuấn']]
      // for (let a = 0; a < code.length; a++) {
      //   let data = {
      //     user: code[a],
      //     firstName: '',
      //     lastName: '',
      //     type: 'ADMIN',
      //     groupOwner: '5b2c98555c09c70318dffaab',
      //     password: 'Mafc123$'
      //   }
      this.callApiCreateUser(userDetail)
      // }
    },
    editUser: function () {
      let checkInfor = this.userDetailtempt
      let userDetail = {
        user: checkInfor.user,
        firstName: checkInfor.firstName,
        lastName: checkInfor.lastName,
        type: checkInfor.type,
        groupOwner: this.groupOwner._id,
        roleFiles: checkInfor.roleFiles.split(',')
      }
      // console.log(userDetail.roleFiles.split(','))
      this.callApiEditUser({id: checkInfor._id, data: userDetail})
    },
    funcResetPass: function () {
      this.callApiResetPass(this.userDetailtempt._id)
    },
    deleteUser: function () {
      this.callApiDeleteUser(this.userDetailtempt._id)
    },
    close () {
      this.visible = false
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss" scoped>
.custom-helper {
  margin-left: 23%;
  margin-top: 0;
  margin-bottom: 10px;
}
.custom-input {
  margin-bottom: 0;
}
.control.has-icon .icon {
  top: 1rem;
}
.statusApi {
  margin: 10px 20px;
}
.custom-input .is-disabled.input {
  margin-bottom: 0.75rem;
}
.is-disabled.input,
.is-disabled:not(.password) > select {
  background-color: transparent;
  color: #000;
  border-width: 0 0 1px 0;
  border-color: #606266;
  border-radius: 0;
  border-style: dashed;
}
.is-disabled.select:after {
  display: none;
}
.input.is-disabled.password,
.select.is-disabled.password {
  padding-right: 2.5em;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
.is-disabled.password > select {
  background-color: transparent;
  color: #000;
  border-width: 0;
}
.icon.is-small.resetPass {
  color: hsl(141, 71%, 48%);
  cursor: pointer;
  pointer-events: auto;
}
</style>
