<template>
  <div>
    <button class="button is-info" @click="openNotificationWithType('info')">Info</button>
    {{dataSocket.dataCollection}}
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import Notification from 'vue-bulma-notification'

const NotificationComponent = Vue.extend(Notification)

const openNotification = (propsData = {
  title: '',
  message: '',
  type: '',
  direction: '',
  duration: 4500,
  container: '.notifications'
}) => {
  return new NotificationComponent({
    el: document.createElement('div'),
    propsData
  })
}

export default {
  components: {
    Notification
  },
  created () {
    this.getExtUser()
  },
  computed: {
    ...mapGetters({
      getGroupView: 'getGroupView',
      dataSocket: 'dataSocket'
    }),
    count () {
      return this.dataSocket.dataCollection.length
    }
  },
  watch: {
    count: function () {
      this.openNotificationWithType('info')
    }
  },
  methods: {
    getExtUser () {
      let groups = JSON.parse(Vue.localStorage.get('groupView'))
      let arrRoom = []
      for (let i = 0; i < groups.listGroup.length; i++) {
        arrRoom.push(groups.listGroup[i].name)
      }
      this.$socket.emit('socket_getAll', { rooms: arrRoom })
    },
    openNotificationWithType (type) {
      openNotification({
        title: '1 Case is Next_Stage',
        message: 'ID: ' + this.dataSocket.dataCollection[this.dataSocket.dataCollection.length - 1],
        type: type
      })
    }
  }
}
</script>
<style lang="scss">
  @import '../style.scss';
</style>
<style lang="scss" scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(-30px);
    opacity: 0;
  }

  .red {
    font-weight: 600;
    animation: colorchangered 2s;
    animation-iteration-count: infinite;
    -webkit-animation: colorchangered 2s;
    -webkit-animation-iteration-count: infinite;
  }
  .blue {
    animation: colorchangeblue 2s;
    animation-iteration-count: infinite;
    -webkit-animation: colorchangeblue 2s;
    -webkit-animation-iteration-count: infinite;
  }
  @keyframes colorchangered
  {
    0%   { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
    50%  { text-shadow: 1px 1px 8px #ff000063; color: #ff000063; }
    100% { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
  }
  @-webkit-keyframes colorchangered
  {
    0%   { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
    50%  { text-shadow: 1px 1px 8px #ff000063; color: #ff000063; }
    100% { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
  }
  @keyframes colorchangeblue
  {
    0%   { text-shadow: 1px 1px 8px #0000ff; color: #0000ff; }
    50%  { text-shadow: 1px 1px 8px #0000ff70; color: #0000ff70; }
    100% { text-shadow: 1px 1px 8px #0000ff; color: #0000ff; }
  }
  @-webkit-keyframes colorchangeblue
  {
    0%   { color: #c3a5ff6e; }
    50%  { color: #c3a5ff9e; }
    100% { color: #c3a5ff6e; }
  }
  .tableCustom {
    position: relative;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    box-shadow: 0 0 5px 0 rgba(76, 76, 76, 0.5);
    border-radius: 5px;
  }
  .tableRowGroup {
    position: absolute;
    width: 200px;
    height: calc(100% - 86px);
    background-color: #FFFFFF;
    margin-top: 86px;
    z-index: 1;
    div {
      border-bottom: 1px solid #DCDFE6;
      border-left: 1px solid #DCDFE6;
      color: #606266;
      height: 100%;
      padding: .75rem 1.5rem .7rem 1.5rem;
      cursor: pointer;
      span {
        position: relative;
        top: 47%;
      }
    }
  }
  .removeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .fixedWidth {
    display: block;
  }
  .tableChart {
    position: absolute;
    margin-left: 200px;
    margin-top: 86px;
    width: 300px;
    height: calc(100% - 87px);
    background-color: #FFFFFF;
    z-index: 0;
    .chartFormValue {
      position: absolute;
      top: 25%;
      float: left;
      tr {
        display: flex;
        td {
          flex: initial;
          width: 40px;
          padding: .05em .3em;
        }
        td:first-child,
        td:nth-child(5) {
          width: 25px;
        }
        td:nth-child(3) {
          width: 200px;
          padding-top: 5px;
        }
        td:nth-child(4) {
          cursor: pointer;
          width: 25px;
        }
      }
    }
    .inforChartStatus {
      float: left;
      width: 400px;
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      border-radius: 5px;
      height: 160px;
      position: relative;
      margin-left: 5px;
      table > tr {
        border-bottom: 1px solid #DCDFE6;
        td {
          padding: .5em .9em;
        }
      }
    }
    .inforChartStatus:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 10px solid #ddd;
      border-bottom: 5px solid transparent;
      position: absolute;
      top: 5px;
      left: -10px;
    }
    .handled {
        width: 90%;
        margin: auto;
        top: 33%;
        position: absolute;
        left: 10%;
    }
  }
</style>
