<template>
  <div>
    <div class="box" v-for="(item, index) in server">
      <div class="tableCustom">
        <div class="tableRowGroup text-center" :rowspan="item.users.length" @click="eventInviChart(index, stayChart[index])">
          <div v-if="item.users.length >= 6">
              <span class="icon is-small" v-if="!stayChart[index]">
                <i class="fa fa-chevron-left"></i>
              </span>
              <span>{{ item.group }}</span>
              <span class="icon is-small" v-if="stayChart[index]">
                <i class="fa fa-chevron-right"></i>
              </span>
          </div>
          <div v-else>
            <span>{{ item.group }}</span>
          </div>
        </div>
        <transition name="slide-fade-chart" v-if="item.users.length >= 6"> 
          <div class="tableChart" v-if="!stayChart[index]">
            <div class="handled">
              <div v-for="bar in dataChart[index]" class="row mb-1">
                <span :class="'icon is-small ' + bar.name">
                  <i :class="'fa fa-' + bar.labels"></i>
                </span>:  {{bar.val}}
                <div class="col-sm-10 pt-1">
                  <b-progress :value="bar.percent"
                              :variant="bar.name"
                              :key="bar.labels"
                  ></b-progress>
                </div>
              </div>
            </div>
          </div>
        </transition>
        <vue-good-table
        :columns="columns"
        :rows="item.users"
        :search-options="{
          enabled: true,
          placeholder: 'Search ext or status.'
        }"
        styleClass="vgt-table bordered customStyleTable inCollections">
        <template slot="table-row" slot-scope="props">
          <div v-if="props.column.field == 'status'" :class="props.row.status + ' text-center statusCl'">
            {{ props.row.status }}
          </div>
          <div v-else-if="props.column.field == 'phone'" class="phoneCl">
            <span v-if="props.row.phone">{{ props.row.phone }}</span>
            <span v-else>  </span>
          </div>
          <div v-else-if="props.column.field == 'ext'">
            <span>{{ props.row.ext }}</span>
            <span class="icon is-small" style="float: right;" :class="props.row.status + ' extCl'">
              <i :class="'fa fa-' + usersTime[props.row.ind].labels"></i>
            </span>
          </div>
          <div v-else-if="props.column.field == 'timing'" class="timingCl">
            <span v-if="props.row.status === 'Offline'"> </span>
            <span v-else :class="usersTime[props.row.ind].userTiming + ' text-center ' + usersTime[props.row.ind].colorStatus">{{ usersTime[props.row.ind].userTiming }}</span>
            <!-- <span v-if="usersTime[props.row.ind].colorStatus === 'red'" class="icon is-small removeIcon">
              <i class="fa fa-times"></i>
            </span> -->
          </div>
          <div v-else-if="props.column.field == 'user'" class="nameCl">
            <span v-if="props.row.user !== undefined">
              {{ props.row.user.user }}
            </span>
            <!-- <span v-for="(item, index) in getAllUsers">
              <span v-if="item._id === props.row.user">
                {{ item.user }}
              </span>
            </span> -->
          </div>
          <div v-else>
            {{props.formattedRow[props.column.field]}}
          </div>
        </template>
        </vue-good-table>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import BootstrapVue from 'bootstrap-vue'
Vue.use(BootstrapVue)
import { mapGetters, mapActions } from 'vuex'
import VueLocalStorage from 'vue-localstorage'
Vue.use(VueLocalStorage)
import vuemoment from 'vue-moment'
Vue.use(vuemoment)
// export const strict = false

export default {
  data () {
    return {
      optionsChart: {
        segmentShowStroke: false,
        legend: {
          display: false
        }
      },
      backgroundColor: [
        '#97cd76',
        '#CF000F',
        '#336E7B',
        '#1E824C',
        '#2C3E50',
        '#000000',
        '#9A12B3'
      ],
      max: 100,
      labels: ['On the phone', 'Away', 'Lunch', 'Break time', 'Meeting', 'Available', 'Offline'],
      iconLabels: ['phone', 'pause', 'coffee', 'ban', 'comments', 'user', 'power-off'],
      columns: [
        {
          label: 'Group',
          field: 'group',
          thClass: 'text-center'
        },
        {
          label: 'Status',
          field: 'status',
          thClass: 'text-center',
          tdClass: 'text-center',
          width: '300px',
          filterOptions: {
            enabled: true
          }
        },
        {
          label: 'Name',
          field: 'user',
          thClass: 'text-center',
          filterOptions: {
            enabled: true
          }
        },
        {
          label: 'EXT',
          field: 'ext',
          thClass: 'text-center',
          tdClass: 'text-center',
          filterOptions: {
            enabled: true
          }
        },
        {
          label: 'Phone',
          field: 'phone',
          thClass: 'text-center',
          tdClass: 'text-center'
        },
        {
          label: 'Timing',
          field: 'timing',
          thClass: 'text-center',
          tdClass: 'text-center'
        }
      ],
      valueRowsDynamic: [],
      groups: [],
      server: [],
      timing: 0,
      usersTime: [],
      dataChart: [],
      stayChart: []
    }
  },
  created () {
    this.getExtUser()
    this.callApiAllUser()
  },
  computed: {
    ...mapGetters({
      getGroupView: 'getGroupView',
      dataSocket: 'dataSocket',
      getAllUsers: 'getAllUsers'
    }),
    timeC () {
      return this.timing
    },
    count () {
      return this.dataSocket.timeCount
    },
    listen () {
      return this.getGroupView.groupViewer.name
    }
  },
  watch: {
    count: function () {
      this.getDataForTable()
    },
    timeC: function () {
      this.timingUser()
    },
    listen (newCount, oldCount) {
      this.listenChangeView()
    }
  },
  methods: {
    ...mapActions([
      'callApiExtlUser',
      'callApiAllUser',
      'socket_updateStatus'
    ]),
    listenChangeView () {
      console.log('as')
      this.getExtUser()
    },
    // getDataUpdate () {
    //   function abc (a) {
    //     return Math.floor(Math.random() * Math.floor(a))
    //   }
    //   function getSDT () {
    //     if (abc(2) === 0) {
    //       return '0' + abc(999999999)
    //     } else {
    //       return null
    //     }
    //   }
    //   function getRandomUpdate (labels) {
    //     if (abc(2) === 0) {
    //       let label = abc(7)
    //       if (label === 0) {
    //         let sdt = getSDT()
    //         if (typeof sdt === 'string') {
    //           return {
    //             phone: sdt,
    //             status: labels[label]
    //           }
    //         }
    //       } else {
    //         return {
    //           status: labels[label]
    //         }
    //       }
    //     } else {
    //       return null
    //     }
    //   }
    //   let getData = getRandomUpdate(['On the phone', 'Away', 'Lunch', 'Break time', 'Meeting', 'Available', 'Offline'])
    //   return getData
    // },
    getExtUser () {
      // let userDefault = JSON.parse(Vue.localStorage.get('userDetail'))
      let groups = JSON.parse(Vue.localStorage.get('groupView'))
      let arrRoom = []
      for (let i = 0; i < groups.listGroup.length; i++) {
        arrRoom.push(groups.listGroup[i].name)
      }
      this.$socket.emit('socket_getAll', { rooms: arrRoom })
      // setInterval(() => {
      //   let data = this.getDataUpdate()
      //   if (data !== null) {
      //     if (userDefault.ext === null) {
      //       this.$socket.emit('socket_updateStatus', { rooms: arrRoom })
      //     } else {
      //       this.$socket.emit('socket_updateStatus', { rooms: arrRoom, ext: userDefault.ext, status: data })
      //     }
      //   }
      // }, 5000)
    },
    eventInviChart (i, val) {
      Vue.set(this.stayChart, i, !val)
    },
    getDataForTable () {
      let groups = this.dataSocket.dataCollection
      let labels = this.labels
      let iconLabels = this.iconLabels
      this.usersTime = []
      let tempt = 0
      for (let i = 0; i < groups.length; i++) {
        let dataChart = [
          { val: 0, percent: 0, name: labels[0], labels: iconLabels[0] },
          { val: 0, percent: 0, name: labels[1], labels: iconLabels[1] },
          { val: 0, percent: 0, name: labels[2], labels: iconLabels[2] },
          { val: 0, percent: 0, name: labels[3], labels: iconLabels[3] },
          { val: 0, percent: 0, name: labels[4], labels: iconLabels[4] },
          { val: 0, percent: 0, name: labels[5], labels: iconLabels[5] },
          { val: 0, percent: 0, name: labels[6], labels: iconLabels[6] }]
        let users = groups[i].users
        for (let j = 0; j < users.length; j++) {
          let user = users[j]
          if (user.status === undefined) {
            user.status = 'Offline'
          }
          var index = labels.indexOf(user.status)
          user.ind = tempt
          tempt++
          dataChart[index].val = dataChart[index].val + 1
          this.usersTime.push({
            timing: user.timeUpdated,
            status: user.status,
            labels: iconLabels[index]
          })
        }
        for (let a in dataChart) {
          dataChart[a].percent = (dataChart[a].val / users.length) * 100
        }
        if (typeof this.dataChart[i] === 'undefined') {
          this.dataChart[i] = dataChart
          this.stayChart[i] = true
        } else {
          this.dataChart[i] = dataChart
        }
        if (this.timing < parseInt(groups[i].timeSystem)) {
          Vue.set(this, 'timing', parseInt(groups[i].timeSystem))
        }
        Vue.set(this.server, i, groups[i])
      }
      clearInterval(this.intervalTime)
      this.intervalTime = setInterval(() => {
        this.timing = this.timing + 1000
      }, 1000)
    },
    timingUser () {
      let users = this.usersTime
      for (let i in users) {
        let user = users[i]
        let clockUser = this.timing - user.timing
        user.userTiming = this.$moment(clockUser).format('mm:ss')
        if (clockUser >= 3 * 60 * 1000 && user.status === 'Away') {
          user.colorStatus = 'blue'
        } else if (clockUser >= 10 * 60 * 1000 && user.status === 'On the phone') {
          user.colorStatus = 'red'
        } else {
          user.colorStatus = ''
        }
        Vue.set(this.usersTime, i, user)
      }
    }
  }
    // updateDataForTable: function (data) {
    //   let dataAfterUpdate = this.server.groups
    //   for (let i = 0; i < dataAfterUpdate.length; i++) {
    //     let users = dataAfterUpdate[i].users
    //     for (let j = 0; j < users.length; j++) {
    //       if (users[j].ext === data.ext) {
    //         users[j].phone = data.phone
    //         users[j].status = data.status
    //         users[j].created = data.created
    //       }
    //     }
    //   }
    //   return dataAfterUpdate
    // },
    // sortWidthSpecInfor: function (status, arr) {
    //   const arrTempt = []
    //   for (let i = 0; i < arr.users.length; i++) {
    //     if (arr.users[i].status === status) {
    //       arrTempt.push(arr.users.splice(i, 1)[0])
    //       --i
    //     }
    //   }
    //   arrTempt.sort(function (a, b) {
    //     return a.created - b.created
    //   })
    //   arr.users = arrTempt.concat(arr.users)
    // },
    // setAnimationChart: function (groups, index) {
    //   let group = groups[index]
    //   let users = group.users
    //   let dataChart = [
    //     { val: 0, percent: 0, name: 'On the phone' },
    //     { val: 0, percent: 0, name: 'Away' },
    //     { val: 0, percent: 0, name: 'Lunch' },
    //     { val: 0, percent: 0, name: 'Break time' },
    //     { val: 0, percent: 0, name: 'Meeting' },
    //     { val: 0, percent: 0, name: 'Available' },
    //     { val: 0, percent: 0, name: 'Offline' }
    //   ]
    //   let labels = ['On the phone', 'Away', 'Lunch', 'Break time', 'Meeting', 'Available', 'Offline']
    //   users.forEach(function (user) {
    //     var index = labels.indexOf(user.status)
    //     dataChart[index].val = dataChart[index].val + 1
    //     // if (!!user.colorTiming) {
    //     if (user.colorTiming === 'red' || user.colorTiming === 'blue') {
    //       dataChart[index].moreInfor = true
    //     }
    //     // }
    //   })
    //   for (let i = 0; i < dataChart.length; i++) {
    //     dataChart[i].percent = (dataChart[i].val / users.length) * 100
    //   }
    //   this.groups[index].dataChart = dataChart
    // }
  // }
}
</script>
<style lang="scss">
  @import '../style.scss';
</style>
<style lang="scss" scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(-30px);
    opacity: 0;
  }

  .red {
    font-weight: 600;
    animation: colorchangered 2s;
    animation-iteration-count: infinite;
    -webkit-animation: colorchangered 2s;
    -webkit-animation-iteration-count: infinite;
  }
  .blue {
    animation: colorchangeblue 2s;
    animation-iteration-count: infinite;
    -webkit-animation: colorchangeblue 2s;
    -webkit-animation-iteration-count: infinite;
  }
  @keyframes colorchangered
  {
    0%   { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
    50%  { text-shadow: 1px 1px 8px #ff000063; color: #ff000063; }
    100% { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
  }
  @-webkit-keyframes colorchangered
  {
    0%   { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
    50%  { text-shadow: 1px 1px 8px #ff000063; color: #ff000063; }
    100% { text-shadow: 1px 1px 8px #FF0000; color: #ff0000; }
  }
  @keyframes colorchangeblue
  {
    0%   { text-shadow: 1px 1px 8px #0000ff; color: #0000ff; }
    50%  { text-shadow: 1px 1px 8px #0000ff70; color: #0000ff70; }
    100% { text-shadow: 1px 1px 8px #0000ff; color: #0000ff; }
  }
  @-webkit-keyframes colorchangeblue
  {
    0%   { color: #c3a5ff6e; }
    50%  { color: #c3a5ff9e; }
    100% { color: #c3a5ff6e; }
  }
  .tableCustom {
    position: relative;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    box-shadow: 0 0 5px 0 rgba(76, 76, 76, 0.5);
    border-radius: 5px;
  }
  .tableRowGroup {
    position: absolute;
    width: 200px;
    height: calc(100% - 86px);
    background-color: #FFFFFF;
    margin-top: 86px;
    z-index: 1;
    div {
      border-bottom: 1px solid #DCDFE6;
      border-left: 1px solid #DCDFE6;
      color: #606266;
      height: 100%;
      padding: .75rem 1.5rem .7rem 1.5rem;
      cursor: pointer;
      span {
        position: relative;
        top: 47%;
      }
    }
  }
  .removeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .fixedWidth {
    display: block;
  }
  .tableChart {
    position: absolute;
    margin-left: 200px;
    margin-top: 86px;
    width: 300px;
    height: calc(100% - 87px);
    background-color: #FFFFFF;
    z-index: 0;
    .chartFormValue {
      position: absolute;
      top: 25%;
      float: left;
      tr {
        display: flex;
        td {
          flex: initial;
          width: 40px;
          padding: .05em .3em;
        }
        td:first-child,
        td:nth-child(5) {
          width: 25px;
        }
        td:nth-child(3) {
          width: 200px;
          padding-top: 5px;
        }
        td:nth-child(4) {
          cursor: pointer;
          width: 25px;
        }
      }
    }
    .inforChartStatus {
      float: left;
      width: 400px;
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      border-radius: 5px;
      height: 160px;
      position: relative;
      margin-left: 5px;
      table > tr {
        border-bottom: 1px solid #DCDFE6;
        td {
          padding: .5em .9em;
        }
      }
    }
    .inforChartStatus:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 10px solid #ddd;
      border-bottom: 5px solid transparent;
      position: absolute;
      top: 5px;
      left: -10px;
    }
    .handled {
        width: 90%;
        margin: auto;
        top: 33%;
        position: absolute;
        left: 10%;
    }
  }
</style>
