<template>
  <div class="content has-text-centered">
    <div style="top: 27px; position: absolute;">
      <a class="button is-primary is-active" @click="edit = true">Edit Profile</a>
      <a class="button is-primary is-active" @click="changePass()">Change Password</a>
    </div>
    <h1 class="is-title is-bold">Hello {{ $auth.user().user }}</h1>
    <div class="box">
      <vue-good-table
      :columns="columns"
      :rows="rows"
      styleClass="tableNoneHeader">
      <template slot="table-row" slot-scope="props">
        <!-- {{props}} -->
        <div v-if="props.row.key === 'firstName'">
          <span v-if="props.column.field === 'value'">
            <input :class="[edit ? '' : 'is-disabled', 'input']" type="text" placeholder="First Name" v-model="firstName">
          </span>
          <span v-if="props.column.field === 'name'">First Name</span>
        </div>
        <div v-else-if="props.row.key === 'lastName'">
          <span v-if="props.column.field === 'value'">
            <input :class="[edit ? '' : 'is-disabled', 'input']" type="text" placeholder="Last Name" v-model="lastName">
          </span>
          <span v-if="props.column.field === 'name'">Last Name</span>
        </div>
        <div v-else-if="props.row.key === 'user'">
          <span v-if="props.column.field === 'value'">
            <input :class="[edit ? '' : 'is-disabled', 'input']" type="text" placeholder="User Name" v-model="userName">
          </span>
          <span v-if="props.column.field === 'name'">User Name</span>
        </div>
        <div v-else-if="props.row.key === 'groupDefault'">
          <span v-if="props.column.field === 'value'">
            {{getGroupView.groupViewer.name}}
          </span>
          <span v-if="props.column.field === 'name'">Group Default</span>
        </div>
        <div v-else>
          {{props.formattedRow[props.column.field]}}
        </div>
      </template>
      </vue-good-table>
      <div class="tableNoneHeaderFooter" v-if="edit">
        <div>
          <a class="button is-primary" @click="editProfile()">Save</a>
          <a class="button" @click="cancelEditProfile()">Cancel</a>
          <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" 
              :value="listenStatusApi"
              style="float: left;">{{ getStateApi.message }}</span>
        </div>
      </div>
    </div>
    <card-modal 
    :visible="visible"
    :title="'Change Password'"
    :okText="'Save'"
    transition="zoom"
    @close="close">
      <article class="tile is-child">
        <div class="block">
          <div class="control is-horizontal">
            <div class="control-label">
              <label class="label">Old Password</label>
            </div>
            <p class="control has-icon has-icon-right">
              <input class="input" type="password" placeholder="Old Password" v-model="passwordOld">
            </p>
          </div>
          <div class="control is-horizontal">
            <div class="control-label">
              <label class="label">New Password</label>
            </div>
            <p class="control has-icon has-icon-right">
              <vue-password classes="input" v-model="passwordNew" style="width: 100%;"></vue-password>
            </p>
          </div>
          <div class="control is-horizontal">
            <div class="control-label">
              <label class="label">Confirm Password</label>
            </div>
            <p class="control has-icon has-icon-right">
              <input class="input" type="password" placeholder="Confirm Password" v-model="confirmPass">
            </p>
          </div>
          <span :class="[!successPass ? 'is-danger' : 'is-success', 'help custom-helper']" style="margin-left: 28%;">
            {{ !successPass ? 'Your password and confirmation password do not match.' : '' }}
          </span>
        </div>
      </article>
      
      <div class="modal-card-foot modalCustomFooter">
        <div>
          <a class="button is-primary" @click="changePassUser()">Save</a>
          <a class="button" @click="close">Cancel</a>
          <span :class="[getStateApi.status ? 'is-success' : 'is-danger', 'help statusApi']" 
              :value="listenStatusApi"
              style="float: left;">{{ getStateApi.message }}</span>
          <span></span>
        </div>
      </div>
    </card-modal>
  </div>
</template>
<script>
import { CardModal } from 'vue-bulma-modal'
import VuePassword from 'vue-password'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    CardModal,
    VuePassword
  },
  data () {
    return {
      mess: String,
      visible: false,
      columns: [
        {
          label: 'name',
          field: 'name',
          thClass: 'custom-header-table'
        },
        {
          label: 'value',
          field: 'value',
          thClass: 'custom-header-table'
        }
      ],
      passwordOld: '',
      passwordNew: '',
      passwordConfirm: '',
      successPass: true,
      rows: this.getDataUserforTable(this.$auth.user()),
      firstNameModel: String,
      lastNameModel: String,
      userNameModel: String,
      edit: false,
      isConnected: Boolean
      // socketInstance: io('http://localhost:3000/socket', {
      //   transports: ['websocket'],
      //   query: `token=4WprOJOLWH8uSATZlLSgj3IdWA1FvqMg`
      // })
    }
  },
  computed: {
    ...mapGetters({
      getStateApi: 'getStateApi',
      getGroupView: 'getGroupView'
    }),
    confirmPass: {
      get: function () {
        return this.passwordConfirm
      },
      set: function (val) {
        this.passwordConfirm = val
        if (this.passwordConfirm === this.passwordNew) {
          this.successPass = true
        } else {
          this.successPass = false
        }
        return this.passwordConfirm
      }
    },
    firstName: {
      get: function () {
        return this.rows[0].value
      },
      set: function (val) {
        this.rows[0].value = val
        return this.rows[0].value
      }
    },
    lastName: {
      get: function () {
        return this.rows[1].value
      },
      set: function (val) {
        this.rows[1].value = val
        return this.rows[1].value
      }
    },
    userName: {
      get: function () {
        return this.rows[2].value
      },
      set: function (val) {
        this.rows[2].value = val
        return this.rows[2].value
      }
    },
    listenStatusApi: function () {
      let status = this.getStateApi.status
      if (status && (this.addExt || this.readExt)) {
        setTimeout(() => {
          this.visible = false
          this.$emit('close')
          this.getStateApi.message = ''
        }, 10)
      }
    }
  },
  watch: {
  },
  mounted () {
    // this.socketInstance.on('auth', function (data) {
    //   console.log(data)
    // })
    // this.socketInstance.on('status', function (groups) {
    //   console.log(groups)
    // })
    // this.$options.sockets.status = (data) => {
    //   console.log('ok')
    //   console.log(data)
    //   this.mess = data
    // }
  },
  methods: {
    ...mapActions([
      'callApiChangePass',
      'callApiEditUser',
      'resetStateApi'
    ]),
    changePass: function () {
      this.visible = true
    },
    close () {
      this.visible = false
      this.$emit('close')
    },
    pingServer () {
      this.socketInstance.emit('getAllOnline', 'long')
    },
    getDataUserforTable: function (user) {
      const rows = [
        // { key: '_id', name: 'Id' },
        { key: 'firstName', name: 'First Name' },
        { key: 'lastName', name: 'Last Name' },
        { key: 'user', name: 'User Name' },
        { key: 'token', name: 'Token' },
        { key: 'type', name: 'Type' },
        { key: 'createdAt', name: 'Created Time' },
        { key: 'updatedAt', name: 'Updated Time' },
        { key: 'privileges', name: 'Privileges' },
        { key: 'groupOwner', name: 'Group Owner' },
        { key: 'groupDefault', name: 'Group Default' },
        { key: 'creator', name: 'Creator' },
        { key: 'editor', name: 'Editor' }
      ]
      for (let i = 0; i < rows.length; i++) {
        if (rows[i].key === 'createdAt' || rows[i].key === 'updatedAt') {
          rows[i].value = this.$moment(user[rows[i].key]).format('MMMM Do YYYY, h:mm:ss a')
        } else {
          rows[i].value = user[rows[i].key]
        }
      }
      return rows
    },
    changePassUser: function () {
      if (this.successPass) {
        let data = {
          passwordOld: this.passwordOld,
          passwordNew: this.passwordNew
        }
        this.callApiChangePass({ id: this.$auth.user()._id, data: data })
      }
    },
    editProfile: function () {
      let data = {
        firstName: this.rows[0].value,
        lastName: this.rows[1].value,
        user: this.rows[2].value,
        groupOwner: this.$auth.user().groupOwner,
        type: this.$auth.user().type
      }
      this.callApiEditUser({id: this.$auth.user()._id, data: data})
    },
    cancelEditProfile: function () {
      this.rows = this.getDataUserforTable(this.$auth.user())
      this.edit = false
    }
  }

}
</script>
<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.custom-header-table {
  display: none;
}
.tableNoneHeaderFooter > div {
  width: 50%;
  margin: 20px 30% 10px auto;
  .button {
    width: 30%;
  }
  .button.is-primary {
    margin-right: 10%;
    margin-left: 25%;
  }
}
@media screen and (min-width: 769px) {
    .control-label {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .control.is-horizontal > .control {
        -ms-flex-positive: 3;
        flex-grow: 3;
    }
}
</style>
